.row > div {
  padding: 0;
}

.stats {
  background-color: var(--secondary);
  border-radius: 3px;
  margin: 15px;
  padding: 25px;

  text-transform: uppercase;
}

.stats.large {
  margin: 15px;
  background-color: var(--background-tertiary);
}