<navbar></navbar>

<div class="container jumbrotron text-center">
  <h1 class="display-3">Stats</h1>
  <p class="lead">View the statistics of 2PG, updated every 30 minutes.</p>
</div>

<section *ngIf="stats"
  class="container">
  <div class="row color-heading">
      <div class="col-lg-3 col-sm-6">
        <div class="stats cursor-pointer"
          matTooltip="The total commands executed.">
          <i class="fa fa-code" aria-hidden="true"></i>
          Ran {{ stats.general.commandsExecuted | number }} Commands
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="stats cursor-pointer"
          matTooltip="The total customizable guild config properties updated.">
          <i class="fas fa-save"></i>
          {{ stats.general.inputsChanged | number }} Updated Inputs
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="stats cursor-pointer"
          matTooltip="The total customizable guild config properties.">
          <i class="fas fa-cogs"></i>
          {{ stats.general.inputsCount | number }} Total Inputs
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="stats cursor-pointer"
          matTooltip="How big brain the bot is.">
          <i class="fas fa-lightbulb"></i>
          {{ stats.general.iq | number }} IQ
        </div>
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-lg-6 col-sm-12">
          <div class="large stats">
            <popular-inputs-graph [stats]="stats"></popular-inputs-graph>
          </div>
      </div>
      <div class="col-lg-6 col-sm-12">
          <div class="large stats">
            <popular-inputs-graph [stats]="stats" [reversed]="true"></popular-inputs-graph>
          </div>
      </div>
      <div class="col-lg-6 col-sm-12">
          <div class="large stats">
            <popular-commands-graph></popular-commands-graph>
          </div>
      </div>
      <div class="col-lg-6 col-sm-12">
          <div class="large stats">
            <popular-commands-graph [stats]="stats" [reversed]="true"></popular-commands-graph>
          </div>
      </div>
  </div>
</section>