mat-sidenav {
    background-color: var(--background-secondary) !important;
}

[opened] {
    width: 300px;
}

img {
    padding: 0;
}

i {
    padding-right: 5px;
}

.toggle {
    visibility: visible;

    margin: 50px 0 0 15px;
}