mat-sidenav {
    background-color: var(--background-primary);
}

[opened] {
    width: 300px;
}

a {
    margin: 0 25px;
    padding: 0;
}

img {
    padding: 0;
}

i {
    padding-right: 5px;
}

.category {
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px 0 0 15px;

    color: var(--secondary);
}