<mat-sidenav-container fullscreen>
    <mat-sidenav #drawer mode="side" opened>
        <div class="side-nav navbar-dark">
            <h2 class="m-4">2PG <i class="fas fa-book-open" aria-hidden="true"></i></h2>
            <hr>
            <div class="navbar-nav mt-5">
                <div class="category">Get Started <i class="fa fa-arrow-right" aria-hidden="true"></i></div>
                <a class="nav-link" 
                    routerLink="/docs/get-started" routerLinkActive="active">Get Started</a>

                <div class="category">Modules <i class="fa fa-star" aria-hidden="true"></i></div>
                <a class="nav-link"
                    routerLink="/docs/announce" routerLinkActive="active">Announce</a>
                <a class="nav-link"
                    routerLink="/docs/auto-mod" routerLinkActive="active">Auto-mod</a>
                <a class="nav-link"
                    routerLink="/docs/commands" routerLinkActive="active">Commands</a>
                <a class="nav-link"
                    routerLink="/docs/general" routerLinkActive="active">General</a>
                <a class="nav-link"
                    routerLink="/docs/leveling" routerLinkActive="active">Leveling</a>
                <a class="nav-link"
                    routerLink="/docs/music" routerLinkActive="active">Music</a>

                <div class="category">Other <i class="fa fa-info-circle" aria-hidden="true"></i></div>
                <a class="nav-link"
                    routerLink="/docs/api" routerLinkActive="active">API</a>
                <a class="nav-link"
                    routerLink="/docs/changelog" routerLinkActive="active">Changelog</a>
                    
                <div class="category">2PG Code <i class="fa fa-code" aria-hidden="true"></i></div>
                <a class="nav-link" 
                    routerLink="/docs/setup" routerLinkActive="active">Setup</a>
                <a class="nav-link" 
                    routerLink="/docs/bot" routerLinkActive="active">Bot</a>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <navbar></navbar>
        <button class="toggle">
            <div id="nav-icon1" class="open"
                (click)="toggle($event.target)">
                <span></span>
                <span></span>
                <span></span>
              </div>
        </button>
        <ng-content select="#content"></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>