<div
  *ngIf="!isSelf"
  class="d-flex justify-content-center float-right">
  <!-- TODO: replace with create dm guild -->
  <!-- <button
    *ngIf="!isFriend && !sentRequest"
    (click)="addFriend()"
    matTooltip="Add Friend"
    class="bg-success mr-2"
    mat-button>
    <i class="lni lni-user text-dark"></i>
    <span></span>
  </button>
  <button
    *ngIf="isFriend || sentRequest"
    (click)="removeFriend()"
    [matTooltip]="(isFriend) ? 'Remove Friend' : 'Cancel Request'"
    class="bg-danger mr-2"
    mat-button>
    <i class="lni lni-close"></i>
    <span></span>
  </button> -->
</div>

<app-avatar-url
  [user]="data.user"
  class="mr-2"></app-avatar-url>
<h1 mat-dialog-title>{{ data.user.username }}</h1>

<hr>

<div
  *ngIf="data.user.badges"
  class="mb-4"
  mat-dialog-content>
  <h6>Badges—{{ data.user.badges.length }}</h6>
  <div class="ml-4">
    <i *ngFor="let badge of data.user.badges">{{ badge }}</i>
  </div>
</div>

<div
  *ngIf="mutualGuilds.length"
  mat-dialog-content>
  <h6>Mutual Guilds—{{ mutualGuilds.length }}</h6>
  <div class="ml-4">
    <app-guild-icon 
      *ngFor="let guild of mutualGuilds"
      class="float-left"
      style="margin-left: -25px;"
      [matTooltip]="guild.name"
      [guild]="guild"></app-guild-icon>
  </div>
  <hr>
</div>
