.sidebar-content {
  width: 240px;
}

.sidebar-content h1 {
  font-size: 15px;
}

.sidebar-header {
  flex-direction: column;
  justify-content: center;
  height: 48px;
  cursor: pointer;
  display: flex;

  box-shadow: var(--elevation);
}
