<div class="stars">
    <div class="central-body">
        <img class="image-404" src="assets\img\404.svg" width="300px">
        <a class="btn-go-home" routerLink="/">RETURN HOME</a>
    </div>
    <div class="objects">
        <img class="object_rocket" src="assets\img\rocket.svg" width="40px">
        <div class="earth-moon">
            <img class="object_earth" src="assets\img\earth.svg" width="100px">
            <img class="object_moon" src="assets\img\moon.svg" width="80px">
            <img class="object_mars" src="assets\img\mars.svg">
        </div>
        <div class="box_astronaut">
            <img class="object_astronaut" src="assets\img\2pg-avatar-transparent.svg" width="140px">
        </div>
    </div>
    <div class="glowing_stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
</div>
<footer>
    <p class="float-right text-muted"><strong>SVGs</strong>: Saleh Riaz + photo3idea_studio from www.flaticon.com</p>
</footer>