<div class="stars">
    <div class="central-body">
        <img class="image-404" src="//salehriaz.com/404Page/img/404.svg" width="300px">
        <a class="btn-go-home" routerLink="/">RETURN HOME</a>
    </div>
    <div class="objects">
        <img class="object_rocket" src="//salehriaz.com/404Page/img/rocket.svg" width="40px">
        <div class="earth-moon">
            <img class="object_earth" src="//salehriaz.com/404Page/img/earth.svg" width="100px">
            <img class="object_moon" src="//salehriaz.com/404Page/img/moon.svg" width="80px">
            <img class="object_mars" src="//image.flaticon.com/icons/svg/1751/1751853.svg" 
                title="Icon made by photo3idea_studio from www.flaticon.com">
        </div>
        <div class="box_astronaut">
            <img class="object_astronaut" src="assets\img\2PGAvatarTransparent.svg" width="140px">
        </div>
    </div>
    <div class="glowing_stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
</div>
