<div
  *ngIf="author"
  #menuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="contextMenu"
  (contextmenu)="openMenu($event, menuTrigger)">
  <div
    *ngIf="!isExtra; else extraMessage"
    [id]="'message-' + message._id"
    (click)="$event.stopPropagation()">
    <div
      class="message-group"
      [ngClass]="{ 'd-mention': isMentioned }">
      <app-avatar-url
        (click)="dialog.profile({ user: author })"
        matTooltip="View Profile"
        size="40px"
        [user]="(avatarURL) ? { username: author.username, avatarURL: avatarURL } : author"></app-avatar-url>
      <div class="comment">
        <div class="message first">
          <h2 style="line-height: 16px;">
            <span class="username-wrapper v-btm">
              <strong
                [style.color]="roleColor"
                class="username">{{ author.username }}</strong>
              <div *ngIf="author.bot && author.username !== '2PG'"
                class="username-badge badge badge-secondary ml-1">BOT</div>
              <div *ngIf="author.bot && author.username === '2PG'"
                class="username-badge badge badge-secondary ml-1">SYSTEM</div>
            </span>
            <span class="highlight-separator"> - </span>
            <span class="timestamp">{{ message.createdAt | timestamp }}</span>
            <ng-container *ngTemplateOutlet="edited"></ng-container>
          </h2>

          <ng-container *ngTemplateOutlet="messageContent"></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #extraMessage>
  <div
    [id]="'message-' + message._id"
    class="extra-message"
    [ngClass]="{ 'd-mention': isMentioned }"
    (click)="$event.stopPropagation()">
    <span class="content">
      <span
        class="timestamp no-select"
        [matTooltip]="message.createdAt">
        <span>{{ timeString }}</span>
        <ng-container *ngTemplateOutlet="edited"></ng-container>
      </span>
      <ng-container *ngTemplateOutlet="messageContent"></ng-container>
    </span>
  </div>
</ng-template>

<ng-template #edited>
  <span
    *ngIf="message.updatedAt"
    [matTooltip]="'Edited - ' + updatedAt"
    class="edit-indicator cursor-pointer ml-1"
    #edited>
    <i class="lni lni-pencil-alt text-muted"></i>
  </span>
</ng-template>

<ng-template #messageContent>
  <div
    (keydown)="toggleEditing($event)"
    [contentEditable]="isEditing && canManage"
    [innerHtml]="processed"
    class="message-text d-inline"
    #newMessage>
  </div>

  <message-embed
    (close)="removeEmbed()"
    [canManage]="canManage"
    [message]="message"></message-embed>
</ng-template>

<mat-menu
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  #contextMenu>
  <div *ngIf="canManage && author?._id === userService.self._id">
    <button
      (click)="toggleEditing()"
      mat-menu-item>
      <i class="lni lni-pencil-alt text-warning mr-1"></i>
      <span>{{ (isEditing) ? 'Finish Editing' : 'Edit' }}</span>
    </button>
  </div>
  <div *ngIf="canManage">
    <button
      (click)="delete()"
      mat-menu-item>
      <i class="lni lni-close text-danger mr-1"></i>
      <span>Delete</span>
    </button>
  
    <hr>
  </div>

  <div (click)="$event.stopPropagation()" class="p-2">
    <strong>ID: </strong>
    <code>{{ message._id }}</code>
  </div>
</mat-menu>
