<sidebar>
    <div *ngIf="guild" class="side-nav navbar-dark">
        <div class="header">
            <h1><strong>{{ guild.name }}</strong></h1>
        </div>
            <div class="category">Channels</div>
            <div *ngIf="guild"
                class="navbar-nav">
                
            </div>
        </div>
        
    <div id="content">
        <dashboard-navbar>Friends</dashboard-navbar>
        <div *ngIf="loaded">
            <ng-content></ng-content>
        </div>
        <div *ngIf="!loaded">
            <spinner></spinner>
        </div>
    </div>
</sidebar>
