<sidebar>
    <div *ngIf="guild" class="side-nav navbar-dark">
        <div class="header">
            <div (click)="inviteModal.open()"
                class="float-right cursor-pointer m-3" color="primary"
                data-toggle="modal" data-target="#createInviteModal">
                <i class="fas fa-user-plus"></i>
            </div>
            <h1><strong>{{ guild.name }}</strong></h1>
        </div>
        <div class="category">Channels</div>
        <div *ngIf="guild"
            class="navbar-nav">
            <a *ngFor="let channel of textChannels"
                [routerLink]="'/channels/' + guild._id + '/' + channel._id"
                routerLinkActive="active"
                class="nav-item nav-link">
                <i class="fas fa-hashtag text-muted"></i> {{ channel.name }}</a>
            <voice-channel *ngFor="let channel of voiceChannels"
                [channel]="channel" [guild]="guild"></voice-channel>
        </div>
    </div>
        
    <div id="content">
        <dashboard-navbar *ngIf="selectedChannel">
            <i class="fas fa-hashtag text-muted pr-2"></i>
            <strong>{{ selectedChannel.name }}</strong>
            
        </dashboard-navbar>
        <div *ngIf="loaded">
            <ng-content></ng-content>
        </div>
        <div *ngIf="!loaded">
            <spinner></spinner>
        </div>
    </div>
</sidebar>

<invite-modal [guild]="guild" #inviteModal></invite-modal>