<div class="row">
  <div class="col-3">
    <div class="developer-sidebar">
      <header
        routerLink="/developers"
        class="cursor-pointer my-5">
        <img src="/assets/img/icon.png" alt="DClone Icon">
        <span class="uppercase p-2">Developer Dashboard</span>
      </header>
      
      <nav class="side-nav mt-3">
        <a routerLinkActive="active"
          class="nav-link"
          routerLink="/developers">
          <i class="fas fa-code"></i>
          Applications</a>
      </nav>
    </div>
  </div>

  <div class="col-6">
    <div class="applications">
      <header class="mt-5">
        <h1>Applications</h1>
        <p class="lead">Manage bot applications in the DClone developer dashboard.</p>
      </header>
      <div class="row">
        <div class="col-2">bot </div>
        <div class="col-2">bot </div>
        <div class="col-2">bot </div>
        <div class="col-2">bot </div>
        <div class="col-2">bot </div>
        <div class="col-2">bot </div>
      </div>
    </div>
  </div>
</div>
