<guild-sidebar [waitFor]="savedGuild">
    <div *ngIf="form" class="container">
        <h1 class="display-3">Commands</h1>
        <hr>
        <form #f="ngForm" [formGroup]="form">
            <div formArrayName="configs" class="row">
                <div *ngFor="let command of commands; index as i"
                    [formGroupName]="i"
                    class="col-lg-3 col-md-6">
                    <div class="card d-flex justify-content-between">
                        <div class="card-body">
                            <span>
                                <input type="hidden" formControlName="name">
                                {{ command.name }}
                            </span>
                            <div class="float-right">
                                <mat-slide-toggle formControlName="enabled"></mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <plus-paywall>
                <h3>Custom Commands</h3>
                <plus-badge></plus-badge>
                <p class="desc">Filter message content, based on specific conditions</p>

                <div class="row">
                    <div *ngFor="let i of customCommandIndices"
                        formArrayName="custom"
                        class="col-lg-6 col-sm-12">
                        <div [formGroupName]="i" class="rounded custom-command d-flex justify-content-around row">
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Alias</mat-label>                            
                                    <input type="text" formControlName="alias" matInput #alias>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Command</mat-label>                            
                                    <input type="text" formControlName="command" matInput #command>
                                </mat-form-field>
                            </div>
                            <div class="mr-5">
                                <label class="mr-2">Executable Anywhere</label>
                                <mat-checkbox formControlName="anywhere"></mat-checkbox>                          
                            </div>
                            <div [@expandCollapse]="alias.value && command.value ? 'down' : 'up'"
                                [hidden]="!alias.value || !command.value"
                                [class]="alias.value && command.value ? 'pb-3 px-2' : ''">
                                <code>{{ command.value }}</code> can also be executed with <code>{{ alias.value }}</code>
                        </div>
                        </div>
                    </div>
                </div>
            </plus-paywall>
        </form>
    </div>
</guild-sidebar>
