.card {
    background-color: var(--background-tertiary);
    margin: 5px;
}

.custom-command {
    background-color: var(--background-tertiary);
    margin: 5px;
    padding-top: 25px;
    padding-left: 15px;
}