<guild-sidebar [waitFor]="savedGuild">
    <div *ngIf="form" class="container">
        <h1 class="display-3">Commands</h1>
        <hr>
        <form #f="ngForm" [formGroup]="form">
            <div formArrayName="configs" class="row">
                <div *ngFor="let command of commands; index as i"
                    [formGroupName]="i"
                    class="col-lg-4 col-md-6">
                    <div class="card d-flex justify-content-between">
                        <div class="card-body">
                            <span>
                                <input type="hidden" formControlName="name">
                                {{ command.name }}
                            </span>
                            <div class="float-right">
                                <mat-slide-toggle formControlName="enabled"></mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <h3>Custom Commands</h3>
            <span class="cursor-pointer uppercase float-right badge badge-success"
                matTooltip="This is a 2PG+ feature.">
                Plus
            </span>
            <p class="desc">Filter message content, based on specific conditions</p>

            <plus-paywall>
                <div formArrayName="custom" class="row">
    
                </div>
            </plus-paywall>
        </form>
    </div>
</guild-sidebar>
