.side, .main {
  min-height: 100vh;
}

.side {
  min-width: 360px;
  max-width: 25vw;

  background-color: var(--background-secondary);
}
.side .category {
  color: var(--secondary);
  padding-left: 5px;
}
.side .navbar-nav {
  padding: 35px;
  padding-top: 40px;
}

.close {
  text-shadow: unset;

  border: 1px solid var(--tertiary);
  padding: 8px;
  padding-top: 12px;
  width: 48px;
  height: 48px;
}
.close i {
  color: var(--font); 
}
.close:hover {
  background-color: var(--tertiary);
}
.close-container {
  margin: 50px 7.5vw;

  position: absolute;
  top: 25px;
  right: -50px;
}

.main-content {
  padding: 60px 40px;
}

.nav-item i {
  width: 20px !important;
}

.scroll-container {
  display: flex;
}

@media (max-width: 576px) {
  .close-container {
    top: unset;
    right: 25px;
  }
}