<mat-sidenav-container
  class="scroll-container"
  fullscreen>
  <mat-sidenav
    class="scroll-section side-nav d-flex pl-sm-5 pl-3"
    mode="side"
    opened
    #drawer>
    <div class="close-container d-sm-none d-block">
      <div
        (click)="close()"
        class="close round btn float-right"
        mat-button><i class="lni lni-close"></i></div>
    </div>

    <h2 class="category text-secondary overflow-ellipsis mt-5">{{ tabCategory }}</h2>

    <a *ngFor="let tab of tabs[tabType]"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="canAccess(tab) ? tab.href() : './'"
      [class.disabled]="!canAccess(tab)"
      routerLinkActive="active"
      class="nav-item nav-link cursor-pointer pr-3">
      <i class="mr-1" [class]="tab.icon"></i>
      <span>{{ tab.name }}</span>
    </a>

    <div *ngIf="tabType === 'user'">
      <hr>
      <a routerLink="/logout"
        class="text-danger nav-item nav-link cursor-pointer">
        <i class="lni lni-user text-danger"></i>
        <span> Logout</span>
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="scroll-section">
    <div class="main">
      <div class="close-container d-none d-sm-block">
        <div
          (click)="close()"
          class="close round btn float-right"
          mat-button><i class="lni lni-close"></i></div>
      </div>
    
      <div class="main-content">
        <ng-content select=".content"></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
