.side, .main, .main .content {
  min-height: 100%;
}

.side .category {
  margin-left: 10px;
  max-width: 200px; 
}
.side a {
  padding-right: 10px !important;
  cursor: pointer;
}

.side {
  float: left;
  width: 25%;
  
  position: fixed;

  background-color: var(--background-secondary);
}
.side .category {
  color: var(--secondary);
  padding-left: 5px;
}
.side .navbar-nav {
  padding: 35px;
  padding-top: 40px;
}
.side hr {
  color: var(--font);
}

.main-content {
  padding: 60px 40px;
  width: 90%;  
}

.main {
  float: right;
  width: 75%;
}

.close-container {
  position: absolute;
  top: 25px;
  right: -50px;
}

.close {
  text-shadow: unset;

  border: 1px solid var(--tertiary);
  padding: 8px;
  padding-top: 12px;
  width: 48px;
  height: 48px;
}
.close i {
  color: var(--font); 
}
.close:hover {
  background-color: var(--tertiary);
}
.close-container {
  margin: 50px 7.5vw;
}

.nav-item i {
  width: 20px !important;
}