<dashboard-sidebar>
    <div class="container">
        <h1 class="display-3 mb-3">Hey, {{ user.username }}</h1>
        <p class="text-muted mb-5">Here you can manage your guilds, edit your XP card, and more!</p>
        <div>
            <a href="https://dbots.co/bots/685867703352819720">
                <img src="https://dbots.co/api/v1/bots/685867703352819720/widget?size=small" alt="View on DBots">
            </a>
            <a class="ml-3" href="https://dlist.xyz/servers/685862664223850497">
                <img src="https://dlist.xyz/api/v1/guilds/685862664223850497/widget?size=small" alt="View on DList">
            </a>
        </div>
    </div>
</dashboard-sidebar>
