<dashboard-sidebar>
    <div class="container">
        <h1 class="display-3 p-3">Hey, {{ user.username }}</h1>
        <div class="alert alert-warning">
            <strong>Thing's that don't work yet:</strong>
            <ul>
                <li>Table sorting - mostly unimplemented, sorting tables does not do anything</li>
                <li>Leaderboard ranking - mostly unimplemented, leaderboard rank is false</li>
                <li>Command overrides - unimplemented, command settings will be ignored</li>
                <li>Dashboard overview - mostly unimplemented, most stats are currently used as a placeholder</li>
                <li>Docs - mostly incomplete, lots of more documentation should be added</li>
                <li>Auth guards - mostly unimplemented, users currently have free access to most pages</li>
            </ul>
        </div>
    </div>
</dashboard-sidebar>