<div
  *ngIf="perms.can(guild._id, 'VIEW_CHANNELS')"
  #menuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="channelMenu"
  (contextmenu)="openMenu($event, menuTrigger)">
  <div *ngIf="channel.type === 'TEXT'">
    <a (click)="$event.stopPropagation()"
      class="nav-item nav-link"
      [routerLink]="'/channels/' + guild._id + '/' + channel._id"
      routerLinkActive="active">        
      <span class="float-right text-muted p-1">
        <i *ngIf="pings.isUnread(channel._id)"
          matTooltip="Unread Pings"
          class="lni lni-circle"></i>
      </span>
    
      <i class="fas fa-hashtag pr-1"
        [ngClass]="{
          'text-muted': userService.self.ignored.channelIds.includes(channel._id),
          'text-warning': pings.isUnread(channel._id)
        }"></i>
      <span>{{ channel.name }}</span>
      <span *ngIf="pings.isUnread(channel._id)" class="ml-2">
        <i class="lni lni-circle text-danger"></i>
      </span>
    </a>
  </div>
    
  <div *ngIf="channel.type === 'VOICE'">
    <voice-channel
      (click)="$event.stopPropagation()"
      [channel]="channel"
      [guild]="guild"></voice-channel>
  </div>
</div>

<mat-menu
  #channelMenu="matMenu"
  matMenuContent>
  <div (click)="$event.stopPropagation()">
    <button
      *ngIf="perms.can(guild._id, 'MANAGE_CHANNELS')"
      (click)="delete()"
      class="text-danger"
      mat-menu-item>
      <i class="lni lni-trash" aria-hidden="true"></i>
      <span class="ml-2">Delete</span>
    </button>
    
    <hr>
    <div class="p-2">
      <i class="lni lni-dev"></i>
      <code>{{ channel._id }}</code>
    </div>
  </div>
</mat-menu>
