<guild-sidebar [waitFor]="savedGuild">
    <div *ngIf="form" class="container">
        <div class="jumbotron">
            <h1 class="display-3">XP</h1>
            <hr>
        </div>
        <form #f="ngForm" [formGroup]="form">
            <h3>Level Roles</h3>
            <p class="desc">Reward users with roles when leveling up</p>
            <hr>
            <div formArrayName="levelRoles" class="row">
                <div *ngIf="savedGuild.xp.levelRoles.length < 1">
                    <div [formGroupName]="0" class="role">
                        <input type="hidden" formControlName="event">
                        <mat-form-field appearance="outline">                                
                            <mat-label>Level</mat-label>                            
                            <input type="number" formControlName="level" matInput value="1" min="1">
                        </mat-form-field>
                        <mat-form-field appearance="outline">                                
                            <mat-label>Role</mat-label>
                            <mat-select multiple
                                formControlName="autoRoles">
                                <mat-option *ngFor="let role of roles" 
                                    [value]="role.id">@{{ role.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngFor="let role of savedGuild.xp.levelRoles; index as i" class="col-lg-6 col-sm-12">
                    <div [formGroupName]="i" class="role">
                        <input type="hidden" formControlName="event">
                        <mat-form-field appearance="outline">                                
                            <mat-label>Level</mat-label>                            
                            <input type="number" formControlName="level" matInput>
                        </mat-form-field>
                        <mat-form-field appearance="outline">                                
                            <mat-label>Role</mat-label>
                            <mat-select multiple
                                formControlName="autoRoles">
                                <mat-option *ngFor="let role of roles" 
                                    [value]="role.id">@{{ role.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button *ngIf="i > 0" class="remove" mat-button>-</button>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button (click)="addLevelRole()" 
                        class="add" mat-button>+</button>
                </div>
            </div>
        </form>
    </div>
</guild-sidebar>