<!-- credit: https://codepen.io/akhil_001/details/gQwJPJ -->
<div class="seaContainer">
  <div class="submarine__container">
    <div class="submarine__sail">
      <div class="submarine__sail-shadow dark1">
      </div>
      <div class="submarine__sail-shadow light1"></div>
      <div class="submarine__sail-shadow dark2"></div>
    </div>
    <div class="submarine__body">
      <div class="submarine__window one">

      </div>
      <div class="submarine__window two">

      </div>
      <div class="submarine__shadow-dark"></div>
      <div class="submarine__shadow-light"></div>
      <div class="submarine__shadow-arcLight"></div>
    </div>
    <div class="bubbles__container">
      <span class="bubbles bubble-1"></span>
      <span class="bubbles bubble-2"></span>
      <span class="bubbles bubble-3"></span>
      <span class="bubbles bubble-4"></span>
    </div>
    <div class="submarine__propeller">
      <div class="propeller__perspective">
      <div class="submarine__propeller-parts darkOne"></div>
      <div class="submarine__propeller-parts lightOne"></div>
      </div>        
    </div>
  </div>
</div>