<div class="flex-vertical">
    <div class="chat flex-vertical flex-spacer">
        <div class="content flex-spacer flex-horizontal bg-transparent">
            <div class="flex-spacer flex-vertical messages-wrapper">
                <div class="scroller-wrap">
                    <div class="scroller messages">
                        <div class="message-group hide-overflow">
                            <div class="avatar-large animate" [style.backgroundImage]="'url(' + message.author.avatarURL + ')'"></div>
                            <div class="comment">
                                <div class="message first">
                                    <h2 style="line-height: 16px;">
                                        <span class="username-wrapper v-btm">
                                            <strong class="user-name">{{ message.author.username }}</strong>
                                        </span>
                                        <span class="highlight-separator"> - </span>
                                        <span class="timestamp">{{ timestamp }}</span>
                                    </h2>
                                    <div [innerHtml]="processed" class="message-text"></div>
                                </div>
                                <div *ngIf="embed" class="embed">
                                    <a class="title" [href]="embed.url">{{ embed.title || 'Untitled' }}</a>
                                    <div *ngIf="embed.description"
                                        class="description">{{ embed.description }}</div>
                                    <img *ngIf="embed.image"
                                        [src]="embed.image" onerror="this.onerror=null;this.hidden = true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>