<nav class="navbar navbar-expand">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/img/icon.png" alt="DClone Icon" class="icon">
    <img src="/assets/img/logo.png" alt="DClone Logo" class="logo">
  </a>
  <div class="nav navbar-nav">
    <!-- <a class="nav-item nav-link" routerLink="/docs" routerLinkActive="active"
      matTooltip="Docs">
      <i class="fa fa-book" aria-hidden="true"></i>
    </a> -->
    <!-- <a class="nav-item nav-link" [href]="githubURL" routerLinkActive="active"
      matTooltip="GitHub">
      <i class="fab fa-github" aria-hidden="true"></i>
    </a> -->
  </div>
  <div class="nav navbar-nav ml-auto">
    <div *ngIf="!user">
      <a class="nav-item nav-link" routerLink="/login"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
    </div>
    <div *ngIf="!user">
      <a class="nav-item nav-link" routerLink="/sign-up"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
    </div>
    <div *ngIf="user">
      <button mat-button [matMenuTriggerFor]="menu">
        <app-avatar-url [user]="user"></app-avatar-url>
        <span class="pl-1">{{ user.username }}</span>
      </button>

      <mat-menu #menu="matMenu">
        <button routerLink="/channels/@me" mat-menu-item>
          <i class="fas fa-cog"></i> Open
        </button>
        <hr>
        <button routerLink="/developers" mat-menu-item>
          <i class="fas fa-code"></i> Developers
        </button>
        <button routerLink="/logout" mat-menu-item>
          <i class="fas fa-sign-out-alt"></i> Logout
        </button>
      </mat-menu>
    </div>
  </div>
</nav>
