nav.navbar {
  background-color: transparent;
  color: var(--font);
}

img:not(.icon) {
  width: 32px;
  height: auto;
}
img.icon {
  height: 32px;
}
img.logo {
  margin-left: 5px;
  width: 128px;
}

.dropdown-menu {
  background: var(--background-secondary);
}

.dropdown-menu a {  
  color: var(--font);
}

.dropdown-menu a:hover {
  background-color: var(--background-primary);
}

a {
  cursor: pointer;
  font-weight: 800;
}