nav.navbar {
  background-color: transparent;
}

img {
  width: 32px;
  height: 32px;
}
img.logo {
  margin-left: 5px;
  width: 96px;
}

.dropdown-menu {
  background: var(--background-secondary);
}

.dropdown-menu a {  
  color: white;
}

.dropdown-menu a:hover {
  background-color: var(--background-primary);
}

a {
  cursor: pointer;
}