<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" routerLink="/">
    <h1>
      <span class="text-primary">accord</span>
      <span class="text-tertiary">.</span>
      <span class="text-light">app</span>
    </h1>
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <i class="lni lni-menu"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="nav navbar-nav">
      <a class="text-right nav-item nav-link" 
        routerLink="/docs" 
        routerLinkActive="active">
        <i class="lni lni-library" aria-hidden="true"></i> Docs
      </a>
    </div>
  
    <div class="nav navbar-nav ml-auto">
      <div class="d-md-none d-block mt-2"></div>
      <div *ngIf="!user">
        <a class="text-right nav-item nav-link" routerLink="/login">
          <i class="lni lni-user" aria-hidden="true"></i> Login
        </a>
      </div>
      <div *ngIf="user">
        <mat-button
          class="float-right p-2 nav-item nav-link bg-primary text-light rounded cursor-pointer mr-lg-3"
          routerLink="/channels">
          <i class="lni lni-chevron-right-circle" aria-hidden="true"></i>
          <strong> Open</strong>
        </mat-button>
      </div>
    </div>
  </div>
</nav>

<mat-menu #menu="matMenu">
  <button routerLink="/channels" mat-menu-item>
    <i class="lni lni-cog"></i> Open
  </button>
  <hr>
  <button routerLink="/developers" mat-menu-item>
    <i class="lni lni-code"></i> Developers
  </button>
  <button routerLink="/logout" mat-menu-item>
    <i class="lni lni-sign-out-alt"></i> Logout
  </button>
</mat-menu>
