<div *ngIf="guild"
  class="side side-nav navbar-dark">
  <div class="navbar-nav float-right">
    <p class="category">{{ guild.name }}</p>
    <a [routerLink]="'/channels/' + guild._id + '/settings'"
      routerLinkActive="active"
      class="nav-item nav-link">Overview</a>
    <a [routerLink]="'/channels/' + guild._id + '/roles'"
      routerLinkActive="active"
      class="nav-item nav-link">Roles</a>
    <!-- <a [routerLink]="'/channels/' + guild._id + '/invites'" 
      routerLinkActive="active"
      class="nav-item nav-link">Invites</a> -->
    <hr>
    <a (click)="deleteGuild()"
      class="nav-item nav-link text-danger">Delete Guild</a>
  </div>
</div>

<div *ngIf="guild" class="main">
  <div class="content">
    <div class="float-right">
      <div (click)="close()"
        class="close round btn" mat-button><i class="fas fa-times"></i></div>
      <span class="text-muted d-block px-2">ESC</span>
    </div>
    <h5 class="uppercase mb-4">Guild Overview</h5>
    <div class="row">
      <div class="col-6">
        <div
          [routerLink]="'/channels/' + guild._id"
          routerLinkActive="active"
          class="guild-icon round">
          <img *ngIf="guild.iconURL"
              [src]="guild.iconURL" [alt]="guild.name">
          <span *ngIf="!guild.iconURL"
              class="d-flex justify-content-center">{{ guild.nameAcronym }}</span>
        </div>
      </div>
      <div class="col-6">
        <form *ngIf="form"
          #f="ngForm" [formGroup]="form">
          <mat-form-field appearance="outline">
            <mat-label>Guild Name</mat-label>
            <input formControlName="name" type="text" matInput>
          </mat-form-field>
        </form>
      </div>
    </div>
    <hr class="my-4">
  </div>
</div>