<guild-sidebar [waitFor]="savedGuild && form">
    <div *ngIf="form" class="container">
        <form #f="ngForm" [formGroup]="form">
            <div>
                <div class="d-flex justify-content-between">
                    <h1 routerLink="/docs/announce"
                        class="display-3">Logs</h1>
                    <mat-slide-toggle formControlName="enabled"
                        class="float-right mt-5"></mat-slide-toggle>
                </div>
                <hr>
            </div>
            <h3>Events</h3>
            <p class="desc">Send messages to a channel when an event is triggered</p>
            <div formArrayName="events" class="row d-flex justify-content-center">
                <div *ngFor="let event of events; index as i" class="col-lg-6 col-sm-12">
                    <div [formGroupName]="i" class="rounded event large shadow">
                        <input type="hidden" formControlName="event">
                        <span class="d-flex justify-content-between">
                            <strong class="color-heading">{{ events[i] | snakeToSentenceCase }}</strong>
                            <mat-slide-toggle formControlName="enabled"></mat-slide-toggle>
                        </span>
                        <hr>
                        <mat-form-field appearance="outline">                                
                            <mat-label>Message</mat-label>
                            <textarea formControlName="message" matInput #message>{{ getEvent(events[i])?.message }}</textarea>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Channel</mat-label>
                            <mat-select formControlName="channel">
                                <mat-option *ngFor="let channel of textChannels" 
                                    [value]="channel.id">#{{ channel.name }}
                                    <span class="float-right text-muted">[{{ getChannel(channel.parentID)?.name || 'N/A' }}]</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <message-preview [content]="message.value" [guild]="guild"></message-preview>
                    </div>
                </div>
            </div>
        </form>
    </div>
</guild-sidebar>
