<div
  class="guild-icon"
  (contextmenu)="dialog.openMenu($event, menuTrigger)"
  [matMenuTriggerFor]="contextMenu"
  routerLinkActive="active"
  #menuTrigger="matMenuTrigger"
  cdkDrag>
  <div
    (click)="$event.stopPropagation()"
    [routerLink]="'/channels/' + guild.id">
    <span
      *ngIf="pings.isGuildUnread(guild)"
      matTooltip="Unread"
      class="alarm">
      <i class="lni lni-alarm text-danger"></i>
    </span>
    <img
      *ngIf="guild.iconURL"
      [src]="guild.iconURL"
      [alt]="guild.name"
      [style.width]="size"
      [style.height]="size"
      #img>
    <span
      *ngIf="!guild.iconURL"
      class="d-flex flex-column justify-content-center"
      [style.width]="size"
      [style.height]="size">
      <span [style.fontSize]="fontSize">{{ guild.nameAcronym }}</span>
    </span>
  </div>
</div>

<mat-menu
  matMenuContent
  #contextMenu>
  <h6 class="p-2 text-center">{{ guild.name }}</h6>

  <div *ngIf="guild.ownerId !== userService.self.id">
    <button
      (click)="guildService.leave(guild.id)"
      class="text-danger p-2"
      mat-menu-item>
      <i class="lni lni-exit"></i>
      <span> Leave</span>
    </button>
  </div>

  <!-- <div>
    <button
      (click)="pings.markGuildAsRead(guild)"
      class="text-info p-2"
      mat-menu-item>
      <i class="lni lni-checkmark-circle"></i>
      <span> Mark As Read</span>
    </button>
  </div> -->

  <div
    *ngIf="config.get('developerMode')"
    (click)="$event.stopPropagation()"
    class="mt-2 p-2">
    <i class="lni lni-dev"></i>
    <code> {{ guild.id }}</code>
  </div>
</mat-menu>