img {
  height: 32px;
}

* {
  overflow-y: hidden !important;
}

a {
  padding: 10px;
}

.developer-sidebar {
  background-color: var(--background-secondary);
}

.icon {
  font-size: 64px;
  color: var(--primary);
  background-color: var(--background-tertiary);
  overflow-x: hidden;
  padding: 50px;
}

.applications button {
  font-size: 32px;
  padding: 16px 24px;
}

.developer-sidebar,
.applications {
  height: 100vh;
  padding: 25px;
}