<dashboard-sidebar>
  <dashboard-navbar>
    <i class="fas fa-user-friends pr-2"></i>
    <strong>Friends</strong>

    <span class="mx-3 py-1"></span>

    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a (click)="tab = 'ONLINE'" 
          [class.active]="tab === 'ONLINE'"
          class="nav-link active">Online</a>
      </li>
      <li class="nav-item">
        <a (click)="tab = 'ALL'" 
          [class.active]="tab === 'ALL'"
          class="nav-link">All</a>
      </li>
      <li class="nav-item">
        <a (click)="tab = 'PENDING'" 
          [class.active]="tab === 'PENDING'"
          class="nav-link">Pending</a>
      </li>
      <li class="nav-item">
        <a (click)="tab = 'BLOCKED'" 
          [class.active]="tab === 'BLOCKED'"
          class="nav-link text-warning">Blocked</a>
      </li>
      <li class="nav-item">
        <a (click)="dialog.addFriend()"
          class="nav-link bg-success text-dark">Add Friend</a>
      </li>
    </ul>
  </dashboard-navbar>

  <friends-list [tab]="tab"></friends-list>
</dashboard-sidebar>
