nav.navbar {
    background-color: transparent;
}

img {
    max-width: 32px;
    border-radius: 50%;   
}

.dropdown-menu {
    background: var(--background-secondary);
}

.dropdown-menu a {    
    color: white;
}

.dropdown-menu a:hover {
    background-color: var(--background-primary);
}

a {
    cursor: pointer;
}