<mat-sidenav-container
  class="scroll-container"
  fullscreen>
  <mat-sidenav
    class="scroll-section"
    mode="side"
    opened
    #drawer>
    <div class="guilds px-2">
      <div class="user">
        <div
          routerLinkActive="active"
          routerLink="/channels/@me"
          class="icon-wrapper">
          <app-avatar-url
            [user]="user"
            [size]="'52px'"></app-avatar-url>
        </div>
        <h5 class="text-muted seperator">.</h5>
      </div>

      <app-guild-icon
        *ngFor="let guild of guilds"
        [guild]="guild"
        [matTooltip]="guild.name"></app-guild-icon>
      <div
        (click)="dialog.createGuild()"
        class="icon-wrapper add-guild bg-transparent cursor-pointer text-primary"
        matTooltip="Add a Guild">
        <span class="add-guild pt-0 d-flex justify-content-center flex-column">+</span>
      </div>
    </div>

    <div class="options">
      <ng-content select=".side-nav"></ng-content>

      <footer class="d-flex">
        <app-avatar-url
          [user]="user"
          size="48px"
          class="pt-2"></app-avatar-url>
        <h6 class="username text-overflow-ellipsis">{{ user.username }}</h6>

        <div class="ml-auto">
          <button
            id="settingsButton"
            matTooltip="Settings"
            routerLink="/channels/@me/settings"
            class="mr-2 p-2"
            mat-button>
            <i class="lni lni-cog"></i>          
          </button>
        </div>
      </footer>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="scroll-section">
    <ng-content select="#content"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>