<guild-sidebar [waitFor]="savedGuild">
    <div *ngIf="form" class="container">
        <form #f="ngForm" [formGroup]="form">
            <div>
                <div class="d-flex justify-content-between">
                    <h1 routerLink="/docs/auto-mod"
                        class="display-3">Auto-mod</h1>
                    <mat-slide-toggle formControlName="enabled"
                        class="float-right mt-5"></mat-slide-toggle>
                </div>
            </div>
            <hr>
            <h3>Filters</h3>
            <p class="desc">Filter message content, based on specific conditions</p>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Enabled Filters</mat-label>
                        <mat-select multiple
                            formControlName="filters">
                            <mat-option *ngFor="let filter of filters" 
                                [value]="filter">{{ filter | snakeToSentenceCase }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="ml-4">
                    <label class="pr-1">Filter Threshold</label>
                    <mat-slider formControlName="filterThreshold"
                        step="1" tickInterval="1" thumbLabel min="1" max="20"></mat-slider>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Ban Words</mat-label>
                        <mat-chip-list formControlName="banWords"
                            #banWords aria-label="Ban word selection">
                            <mat-chip *ngFor="let word of savedGuild.autoMod.banWords" selectable
                                    removable (removed)="remove(word, savedGuild.autoMod.banWords)">
                                {{ word }}
                                <mat-icon matChipRemove>x</mat-icon>
                            </mat-chip>
                            <input placeholder="New word..."
                                    [matChipInputFor]="banWords"
                                    matChipInputAddOnBlur
                                    (matChipInputTokenEnd)="add($event, savedGuild.autoMod.banWords)">
                        </mat-chip-list>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Ban Links</mat-label>
                        <mat-chip-list #banLinks aria-label="Ban link selection">
                            <mat-chip *ngFor="let link of savedGuild.autoMod.banLinks" selectable
                                    removable (removed)="remove(link, savedGuild.autoMod.banLinks)">
                                {{ link }}
                                <mat-icon matChipRemove>x</mat-icon>
                            </mat-chip>
                            <input placeholder="New link..."
                                    [matChipInputFor]="banLinks"
                                    matChipInputAddOnBlur
                                    (matChipInputTokenEnd)="add($event, savedGuild.autoMod.banLinks)">
                        </mat-chip-list>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Ignored Roles</mat-label>
                        <mat-select multiple
                            formControlName="ignoredRoles">
                            <mat-option *ngFor="let role of roles" 
                            [value]="role.id"
                            [style.color]="'#' + role.color?.toString(16)">@{{ role.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <label class="pr-1">Auto-warn Users</label>
                    <mat-checkbox formControlName="autoWarnUsers"></mat-checkbox>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <label class="pr-1">Auto-delete Messages</label>
                    <mat-checkbox formControlName="autoDeleteMessages"></mat-checkbox>
                </div>
            </div>
        </form>
    </div>
</guild-sidebar>
