.bot-tag {
	background:var(--secondary);
	font-size:10px;
	font-weight:600;
	color:var(--heading)!important;
	margin-left:6px;
	border-radius:3px;
	text-transform:uppercase;
	vertical-align:bottom;
	line-height:16px;
	-ms-flex-negative:0;
	flex-shrink:0;
	padding:1px 2px;
	}
	
	.avatar-large {
	background-clip:padding-box;
	position:relative;
	background-color:none;
	background-position:50%;
	border-radius:50%;
	width:40px;
	height:40px;
	background-size:40px 40px;
	}
	
	.scroller-wrap {
	position:relative;
	display:flex;
	}
	
	.scroller-wrap,.scroller-wrap .scroller {
	min-height:1px;
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1;
	}
	
	.scroller-wrap .scroller::-webkit-scrollbar {
	width:14px;
	}
	
	.scroller-wrap .scroller::-webkit-scrollbar-thumb,.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	background-color:var(--secondary);
	background-clip:padding-box;
	border:3px solid #fff;
	border-radius:7px;
	}
	
	.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	background-color:var(--secondary);
	}
	
	.scroller-wrap.dark .scroller::-webkit-scrollbar-thumb {
	background-color:rgba(0,0,0,.4);
	border-color:transparent;
	}
	
	.scroller-wrap.dark .scroller::-webkit-scrollbar-track-piece {
	background-color:transparent;
	border-color:transparent;
	}
	
	.chat {
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	display:flex;
	-ms-flex-direction:column;
	flex-direction:column;
	position:relative;
	color:var(--font);
	}
	
	.message-group {
	word-wrap:break-word;
	display:flex;
	margin-top:15px;
	border-bottom:1px solid #eceeef;
	box-sizing:border-box;
	-webkit-user-select:text;
	-moz-user-select:text;
	-ms-user-select:text;
	user-select:text;
	padding:10px 20px 0;
	}
	
	.chat .user-name {
	cursor:pointer;
	}
	
	.chat .user-name:hover {
	text-decoration:underline;
	}
	
	.chat .avatar-large {
	cursor:pointer;
	opacity:1;
	-webkit-transition:opacity .2s ease;
	transition:opacity .2s ease;
	}
	
	.chat .avatar-large:hover {
	opacity:.8;
	}
	
	.chat .messages-wrapper {
	position:relative;
	display:flex;
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1;
	z-index:0;
	}
	
	.chat .messages {
	overflow-x:hidden;
	margin:0;
	}
	
	.message-group:last-of-type,.message-group:last-of-type:after {
	border-bottom:none;
	}
	
	.message-group .avatar-large {
	-ms-flex-negative:0;
	flex-shrink:0;
	margin-top:-2px;
	margin-right:20px;
	}
	
	.message-group h2 {
	margin:0;
	padding:0;
	}
	
	.message-group h2 strong {
	font-size:16px;
	font-weight:600;
	letter-spacing:0;
	color:var(--heading);
	}
	
	.message-group h2 .timestamp {
	color:#99aab5;
	font-size:12px;
	letter-spacing:0;
	font-weight:500;
	text-transform:none;
	margin-left:6px;
	}
	
	.message-group .highlight-separator {
	opacity:0;
	width:0;
	display:inline-block;
	color:#99aab5;
	}
	
	.message-group .comment {
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1;
	margin-right:20px;
	min-width:0;
	}
	
	.message-group h2 span {
	color:hsla(0,0%,100%,.2);
	}
	
	.flex-horizontal,.flex-vertical {
	display:0;
	}
	
	.flex-vertical {
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	}
	
	.flex-vertical>.flex-spacer {
	min-height:1px;
	}
	
	.flex-horizontal {
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-ms-flex-direction:row;
	flex-direction:row;
	}
	
	.flex-horizontal>.flex-spacer {
	min-width:1px;
	}
	
	.flex-spacer {
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1;
	}
	
	.user-name {
	padding-bottom:5px;
	}
	
	.extra-message {
	color:var(--font);
	padding:0 80px;
	}
	
	.extra-message .timestamp {
	font-size:small;
	float:left;
	position:relative;
	cursor:default;
	color:transparent;
	margin:3px 23px 0 -55px;
	}
	
	.extra-message:hover .timestamp {
	color:gray;
	}
	
	.message-options {
	display:none;
	transform:scale(0.65);
	}
	
	.extra-message .message-options {
	margin-top:-5px;
	transform:scale(0.5);
	}
	
	.message:hover .message-options,.extra-message:hover .message-options {
	display:inline-block;
	}
	
	.extra-message:hover .message-options {
	margin-right:-35px;
	}
	
	.chat .messages-wrapper,.chat .messages-wrapper .scroller-wrap,.hide-overflow {
	overflow:hidden;
	}
	
	.message-group:hover,.extra-message:hover {
	background-color:rgba(46,48,54,.3);
	}