<navbar></navbar>
<div class="container">
    <div class="jumbotron">
        <img *ngIf="guild.iconURL"
            [src]="guild.iconURL" alt="{{ guild.name }} Leaderboard"
            class="guild-icon">
        <h1 class="display-3">{{ guild.name }}</h1>
        <hr>
    </div>
    <div id="leaderboard">
        <div *ngFor="let member of members"
            class="member">
            <span [class]="'rank-' + (members.indexOf(member) + 1)" 
                class="rank">{{ members.indexOf(member) + 1 }}</span>
            <member-username [member]="member"></member-username>
            <div class="float-right pt-2 d-md-block d-none">
                <span class="info">
                    <strong>{{ member.xp | number }}</strong>
                    <span class="text-muted">/{{ (member.xp + member.xpForNextLevel) | number }} </span>
                    <span>XP</span>
                </span>
                <span class="divider">|</span>
                <span class="info">
                    <span>LVL</span>
                    <strong> {{ member.level }}</strong>
                </span>
            </div>
        </div>
    </div>
</div>