canvas {
    max-width: 100%;
    height: auto;
    margin-left: 15px;
}

.row {
    padding: 10px;
    min-height: 250px;
}

.col-md-3, .col-md-9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h5 {
    text-align: center;
}