

<section class="price-sec">
  <div class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-sm-4 price-table">
                  <div class="card text-center">
                      <div class="title">
                          <i class="fa fa-paper-plane"></i>
                          <h2>1 Month</h2>
                      </div>
                      <div class="price">
                          <h4><sup>$</sup>5</h4>
                      </div>
                      <div class="option">
                          <ul>
                              <li><i class="fa fa-check"></i> Full XP Card Customization</li>
                              <li><i class="fa fa-check"></i> Exclusive Discord Role</li>
                              <li><i class="fa fa-check"></i> Help 2PG's development</li>
                              <li><i class="fa fa-times"></i> Unlimited-time Features</li>
                          </ul>
                      </div>
                      <a href="#">Order Now</a>
                  </div>
              </div>
              <!-- (1) ===================================-->
                 <div class="col-sm-4 price-table">
                  <div class="card text-center">
                      <div class="title">
                          <i class="fa fa-plane"></i>
                          <h2>6 Months</h2>
                      </div>
                      <div class="price">
                          <h4><sup>$</sup>25</h4>
                      </div>
                      <div class="option">
                          <ul>
                              <li><i class="fa fa-check"></i> Full XP Card Customization</li>
                              <li><i class="fa fa-check"></i> Exclusive Discord Role</li>
                              <li><i class="fa fa-check"></i> Help 2PG's development</li>
                              <li><i class="fa fa-times"></i> Unlimited-time Features</li>
                          </ul>
                      </div>
                      <a href="#">Order Now</a>
                  </div>
              </div>
              <!-- (2) ===================================-->
                 <div class="col-sm-4 price-table">
                  <div class="card text-center">
                      <div class="title">
                          <i class="fa fa-rocket"></i>
                          <h2>Forever</h2>
                      </div>
                      <div class="price">
                          <h4><sup>$</sup>35</h4>
                      </div>
                      <div class="option">
                          <ul>
                              <li><i class="fa fa-check"></i> Full XP Card Customization</li>
                              <li><i class="fa fa-check"></i> Exclusive Discord Role</li>
                              <li><i class="fa fa-check"></i> Help 2PG's development</li>
                              <li><i class="fa fa-check"></i> Unlimited-time Features</li>
                          </ul>
                      </div>
                      <a href="#">Order Now</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>