

<section class="price-sec">
  <div class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-sm-4 price-table">
                  <div class="card text-center">
                      <div class="title">
                          <i class="fa fa-paper-plane"></i>
                          <h2>1 Month</h2>
                      </div>
                      <div class="price">
                          <h4><sup>$</sup>5</h4>
                      </div>
                      <div class="option">
                          <ul>
                              <li><i class="fa fa-check"></i> Full XP Card Customization</li>
                              <li><i class="fa fa-check"></i> Custom Commands</li>
                              <li><i class="fa fa-check"></i> Exclusive Discord Role</li>
                              <li><i class="fa fa-check"></i> Help 2PG's development</li>
                              <li><i class="fa fa-times"></i> Unlimited-time Features</li>
                          </ul>
                      </div>
                      <form class="d-flex justify-content-center" [action]="checkoutEndpoint" method="GET">
                          <button *ngIf="userService.user && userService.savedUser?.premium"
                            class="checkout my-3" color="success" mat-button disabled>You've Maxed Out</button>
                          <button *ngIf="userService.user && !userService.savedUser?.premium" (click)="checkout('2PG+ [1 Month]')"
                              class="checkout my-3" color="success" mat-button>Level Up To <i class="fa fa-plus" aria-hidden="true"></i></button>
                          <button *ngIf="!userService.user" routerLink="/login"
                              class="checkout my-3" color="success" mat-button>Login to Level Up</button>
                      </form>
                  </div>
                </div>
                <div class="col-sm-4 price-table">
                  <div class="card text-center">
                      <div class="title">
                          <i class="fa fa-plane"></i>
                          <h2>3 Months</h2>
                      </div>
                      <div class="price">
                          <h4><sup>$</sup>10</h4>
                      </div>
                      <div class="option">
                          <ul>
                              <li><i class="fa fa-check"></i> Full XP Card Customization</li>
                              <li><i class="fa fa-check"></i> Custom Commands</li>
                              <li><i class="fa fa-check"></i> Exclusive Discord Role</li>
                              <li><i class="fa fa-check"></i> Help 2PG's development</li>
                              <li><i class="fa fa-times"></i> Unlimited-time Features</li>
                          </ul>
                      </div>
                      <form class="d-flex justify-content-center" [action]="checkoutEndpoint" method="GET">
                          <button *ngIf="userService.user && userService.savedUser?.premium"
                            class="checkout my-3" color="success" mat-button disabled>You've Maxed Out</button>
                          <button *ngIf="userService.user && !userService.savedUser?.premium" (click)="checkout('2PG+ [3 Months]')"
                              class="checkout my-3" color="success" mat-button>Level Up To <i class="fa fa-plus" aria-hidden="true"></i></button>
                          <button *ngIf="!userService.user" routerLink="/login"
                              class="checkout my-3" color="success" mat-button>Login to Level Up</button>
                      </form>
                    </div>
                </div>
                <div class="col-sm-4 price-table">
                  <div class="card text-center">
                      <div class="title">
                          <i class="fa fa-rocket"></i>
                          <h2>Forever</h2>
                      </div>
                      <div class="price">
                          <h4><sup>$</sup>25</h4>
                      </div>
                      <div class="option">
                          <ul>
                              <li><i class="fa fa-check"></i> Full XP Card Customization</li>
                              <li><i class="fa fa-check"></i> Custom Commands</li>
                              <li><i class="fa fa-check"></i> Exclusive Discord Role</li>
                              <li><i class="fa fa-check"></i> Help 2PG's development</li>
                              <li><i class="fa fa-check"></i> Unlimited-time Features</li>
                          </ul>
                      </div>
                      <form class="d-flex justify-content-center" [action]="checkoutEndpoint" method="GET">
                          <button *ngIf="userService.user && userService.savedUser?.premium"
                            class="checkout my-3" color="success" mat-button disabled>You've Maxed Out</button>
                          <button *ngIf="userService.user && !userService.savedUser?.premium" (click)="checkout('2PG+ [Forever]')"
                              class="checkout my-3" color="success" mat-button>Level Up To <i class="fa fa-plus" aria-hidden="true"></i></button>
                          <button *ngIf="!userService.user" routerLink="/login"
                              class="checkout my-3" color="success" mat-button>Login to Level Up</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>