<navbar></navbar>
<section class="container text-center pb-5">
  <div class="py-2 mt-5 d-none d-sm-block"></div>

  <h2 class="display-4 mb-4 mt-5">Forgot Password</h2>
  <p class="lead">Make a new password to login to your account.</p>

  <form
    #f="ngForm"
    [formGroup]="form"
    (ngSubmit)="send()">
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label for="email">Email</mat-label>
        <input
          formControlName="email"
          id="email"
          type="email"
          autocomplete="email"
          matInput>
        <mat-error *ngIf="form.get('email').errors?.pattern">Email is invalid.</mat-error>
      </mat-form-field>
    </div>

    <button
      [disabled]="processing"
      class="bg-primary mb-2"
      type="submit"
      mat-button>
      <span
        *ngIf="processing"
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"></span>
        {{ (sent) ? 'Resend' : 'Send Email'}}
    </button>
  </form>
</section>