input ~ .dot {
  transition: 0.3s ease-in-out !important;
}

input[value='on'] ~ .dot {
  transform: translateX(100%);
  background-color: var(--success);
}
input[value='off'] ~ .dot {
  transform: translateX(0%);
  background-color: var(--danger);
}
input[value='indeterminate'] ~ .dot {
  background-color: #ccc;
  transform: translateX(50%);
}
