<app-settings-sidebar
  *ngIf="user"
  tabType="user">
  <div class="content">
    <h5 class="mb-4">User Overview</h5>
    <div class="row">
      <div class="col-xl-6 col-md-12">
        <div
          routerLinkActive="active"
          class="user-icon round">
          <app-avatar-url
            class="pl-md-5 pb-3 ml-md-5 mt-md-3"
            [user]="avatarUser"
            size="128px"></app-avatar-url>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <form
          *ngIf="form"
          #f="ngForm"
          [formGroup]="form">
          <mat-form-field appearance="outline" class="ml-5 d-flex">
            <mat-label>Avatar URL</mat-label>
            <input formControlName="avatarURL" type="url" matInput>
          </mat-form-field>

          <mat-form-field appearance="outline" class="ml-5 d-flex">
            <mat-label>Username</mat-label>
            <input formControlName="username" type="text" matInput>
            <mat-hint *ngIf="form.get('username').pending"><i class="lni lni-circle-notch fa-spin"></i> Checking</mat-hint>
            <mat-error *ngIf="form.get('username').errors?.required">Username is required.</mat-error>
            <mat-error *ngIf="form.get('username').errors?.minlength">Username should be minimum {{ form.get('username').errors?.minlength.requiredLength }} characters.</mat-error>
            <mat-error *ngIf="form.get('username').errors?.shouldBeUnique">Username is already taken.</mat-error>
            <mat-error *ngIf="form.get('username').errors?.pattern">Username should follow the <a routerLink="/docs/usernames">username rules</a>.</mat-error>
          </mat-form-field>
        </form>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="avatars rounded p-3">
          <div class="row">
            <div class="col-12">
              <h5 class="pl-2">Choose an Avatar</h5>
            </div>
            <div
              *ngFor="let name of avatarNames"
              class="col-xl-3 col-4">
              <img (click)="setAvatar(name)"
                [src]="environment.endpoint + '/avatars/' + name + '.png'" [alt]="name">
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6 col-md-12 mt-4">
        <h6>Message Preview</h6>
        <message
          [message]="previewMessages[0]"
          [avatarURL]="form.get('avatarURL').value"></message>
        <message
          [message]="previewMessages[1]"
          [isExtra]="true"
          [avatarURL]="form.get('avatarURL').value"></message>
        <message
          [message]="previewMessages[2]"
          [avatarURL]="form.get('avatarURL').value"></message>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-lg-3 col-md-4 col-md-12">    
        <mat-form-field appearance="outline" class="ml-3 m-2">
          <mat-label>Theme</mat-label>
          <mat-select
            [value]="config.getValue('theme')"
            (selectionChange)="themes.changeTheme(themeSelect.value)"
            #themeSelect>
              <mat-option value="CHOCOLATE">Chocolate</mat-option>
              <mat-option value="CLONE">Clone</mat-option>
              <mat-option value="COSMIC">Cosmic</mat-option>
              <mat-option value="DISCORD">Discord</mat-option>
              <mat-option value="HORIZON">Horizon (Default)</mat-option>
              <mat-option value="IONIC" selected>Ionic</mat-option>
              <mat-option value="PAIN">Pain</mat-option>
              <mat-option value="TWILIGHT">Twilight</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <hr>
        <h6>Sounds</h6>
      </div>
  
      <div class="col-lg-3 col-md-4 col-md-12">
        <div class="pt-4">
          <label for="sfxEnabled">Enable Sound Effects</label>
          <mat-checkbox
            id="sfxEnabled"
            (input)="config.toggle('sfxEnabled')"
            [checked]="config.get('sfxEnabled')"
            class="ml-2"></mat-checkbox>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-md-12">
        <div class="pt-4">
          <label for="developerMode">Enable Developer Mode</label>
          <mat-checkbox
            id="developerMode"
            (input)="config.set('developerMode', developerModeInput.checked)"
            [checked]="config.get('developerMode')"
            class="ml-2"
            #developerModeInput></mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</app-settings-sidebar>
