<guild-sidebar [waitFor]="savedGuild">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Settings</h1>
            <hr>
        </div>
        <form #f="ngForm" [formGroup]="form">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <label>Private Leaderboard</label>
                    <div class="float-right">
                        <mat-slide-toggle
                            formControlName="privateLeaderboard"></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </form>
    </div>
</guild-sidebar>
