.categories li {
    cursor: pointer;
    background-color: var(--background-tertiary);
}

li {
    background-color: var(--background-secondary);    
}

li.active {
    background-color: var(--primary) !important;
    border: none;
}

#searchButton {
    margin-left: 5px;
    height: 64px;
}