@import '//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css';

table {
    color: white;
}

.jumbotron {
    background: transparent;
    text-align: center;
}

thead tr {
    background-color: var(--background-tertiary);
}

table tbody tr {
    background-color: var(--background-primary);
}

table tbody tr:nth-child(even) {
    background-color: var(--background-secondary);
}

.table td, .table th {    
    border: none !important;
}