<section class="container-fluid px-lg-5">
    <span class="text-muted d-flex justify-content-center mb-3"><strong>Syntax</strong>: /name required [optional] [optional = (default value)]</span>
    <table id="table" class="table table-responsive-lg table-hover">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Module</th>
            <th scope="col">Usage</th>
            <th scope="col">Summary</th>
            <th scope="col">Permission</th>
            </tr>
        </thead>
        <tbody>
    </tbody>
    </table>
    <p class="ml-2 uppercase text-center">
    </p>
</section>