:root {
  --primary: #7289da;
  --secondary: #99aab5;
  --tertiary: #43b582;

  --heading: white;
  --font: #99aab5;
  --normal: #dcddde;

  --success: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);

  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-secondary-alt: #292b2f;
  --background-tertiary: #202225;
  --background-textarea: #40444b;

  --elevation: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--heading);
  font-family: Whitney, Helvetica, sans-serif;
}

body {
  color: var(--font);
  background-color: var(--background-secondary);
}

textarea {
  background-color: var(--background-textarea) !important;
}

.color-success {
  color: var(--success) !important;
}
.color-normal {
  color: var(--normal) !important;
}
.color-heading {
  color: var(--heading) !important;
}
.color-primary {
  color: var(--primary) !important;
}
.color-secondary {
  color: var(--secondary) !important;
}
.color-tertiary {
  color: var(--tertiary) !important;
}

.background-primary {
  background-color: var(--background-primary) !important;
}
.background-secondary {
  background-color: var(--background-secondary) !important;
}
.background-secondary-alt {
  background-color: var(--background-secondary-alt) !important;
}
.background-tertiary {
  background-color: var(--background-tertiary) !important;
}
