.avatars {
  max-width: 385px;
  background-color: var(--background-secondary);
}
.avatars img {
  border-radius: 10px;
  max-height: 64px;
  margin: 5px;

  cursor: pointer;
  transition: 0.3s box-shadow ease-in-out;
}
.avatars img:hover {
  box-shadow: var(--primary) 0px 0px 3px 3px;
}