#joinGuildButton {
  width: 100%;
}

.modal-content {
  background-color: var(--background-tertiary);
}

.modal-content div {
  border: none !important;
}

.modal-footer {
  display: inline !important;
}

.close {
  color: var(--heading);
}