<div class="modal fade" id="addGuildModal" tabindex="-1" aria-labelledby="addGuildLabel" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addGuildLabel">Add Guild</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 class="text-center">Create a Guild</h4>
        <div class="d-flex justify-content-center">
            <form #f="ngForm" [formGroup]="form" (submit)="submit()">
              <mat-form-field appearance="outline">
                <mat-label class="ml-5 pl-3">Server Name</mat-label>
                <input formControlName="name" type="text" matInput>
                <mat-error *ngIf="form.get('name').invalid">Required, and should be less than 32 characters.</mat-error>
              </mat-form-field>
              <div class="d-flex justify-content-center">
                <button class="btn btn-success mt-2" data-dismiss="modal">Create</button>
              </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <h4 class="text-center">Already have an invite?</h4>
        <button id="joinGuildButton" type="button" class="btn btn-secondary" data-dismiss="modal">Join a Guild</button>
      </div>
    </div>
  </div>
</div>