/* float */
@keyframes float {
    0% { transform: translatey(0px); }
    50% { transform: translatey(-10px); }
    100% { transform: translatey(0px); }
}

.float {
    font-size: 3em;
	overflow: hidden;
	transform: translatey(0px);
    animation: float 3s ease-in-out infinite;
}