@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: 500;
  src: local('Whitney'), url('/assets/font/whitneymedium.woff') format('woff');
}
@font-face {
  font-family: 'Whitney';
  font-style: italic;
  font-weight: 500;
  src: local('Whitney'), url('/assets/font/whitneymediumitalic.woff') format('woff');
}
@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: 700;
  src: local('Whitney'), url('/assets/font/whitneybold.woff') format('woff');
}
@font-face {
  font-family: 'Whitney Semibold';
  font-style: normal;
  font-weight: 500;
  src: local('Whitney Semibold'), url('/assets/font/whitneysemibold.woff') format('woff');
}
@font-face {
  font-family: 'Whitney Book';
  font-style: normal;
  font-weight: 500;
  src: local('Whitney Book'), url('/assets/font/whitneybook.woff') format('woff');
}
@font-face {
  font-family: 'Whitney Light';
  font-style: normal;
  font-weight: 500;
  src: local('Whitney Light'), url('/assets/font/whitneylight.woff') format('woff');
}
@font-face {
  font-family: 'Whitney Semibold';
  font-style: italic;
  font-weight: 500;
  src: local('Whitney Semibold'), url('/assets/font/WhitneySemiboldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Whitney Book';
  font-style: italic;
  font-weight: 500;
  src: local('Whitney Book'), url('/assets/font/whitneybookitalic.woff') format('woff');
}
@font-face {
  font-family: 'Whitney Light';
  font-style: italic;
  font-weight: 500;
  src: local('Whitney Light'), url('/assets/font/whitneylightitalic.woff') format('woff');
}

