<ng-container>
    <div class="zippy">
        <div class="zippy-heading"
            [class.expanded]="expanded" 
            (click)="toggle()">
            {{ title }}
            <span>
                <i class="fa float-right"
                [ngClass]="{ 'fa-chevron-up': expanded, 'fa-chevron-down': !expanded }"></i>
            </span>
        </div>
        <div class="zippy-body"
            [@expandCollapse]="(expanded) ? 'expanded' : 'collapsed'">
            <ng-content></ng-content>
        </div>
    </div>
</ng-container>