<guild-sidebar
  (click)="onClick($event)">
  <div *ngIf="channel">
    <div class="float-right member-list">
      <div class="category">Online—{{ onlineMembers.length }}</div>
      <div>
        <member-username
          *ngFor="let member of onlineMembers"
          class="cursor-pointer"
          [user]="userService.getKnown(member.userId)"
          [guild]="guild"></member-username>
      </div>

      <div
        *ngIf="offlineMembers.length"
        class="category">Offline—{{ offlineMembers.length }}</div>
      <div>
        <member-username
          *ngFor="let member of offlineMembers"
          (memberKick)="kickMember($event)"
          class="cursor-pointer"
          [user]="userService.getKnown(member.userId)"
          [guild]="guild"></member-username>
      </div>
    </div>
    <div
      class="messages"
      infiniteScroll
      [scrollWindow]="false"
      (scrolledUp)="loadMoreMessages()">
      <div *ngIf="loadedAllMessages"
        class="jumbotron pb-0">
        <p class="lead">Start of #{{ channel.name }} message history.</p>
        <hr>
      </div>
      <spinner *ngIf="!loadedAllMessages"></spinner>

      <div
        *ngFor="let message of messages; index as i; trackBy: message._id"
        class="message-preview"
        [id]="'message' + message._id">
        <message-preview
          [message]="message"
          [isExtra]="shouldCombine(i)"
          [member]="guildService.getMember(guild._id, message.authorId)"
          [guild]="guild"></message-preview>
      </div>
    </div>
    <div class="footer">
      <emoji-mart
        class="float-right"
        emoji="joy"
        title="Pick an Emoji"
        (emojiClick)="addEmoji($event)"
        [style.display]="emojiPickerOpen ? 'block' : 'none'"></emoji-mart>

      <mat-form-field
        autoFocus
        (keyup)="emitTypingStart()"
        (keyup.enter)="chat(message.value)"
        appearance="outline">
        <mat-label>Message #{{ channel.name }}</mat-label>
        <input
          [disabled]="!perms.can(guild._id, 'SEND_MESSAGES')"
          id="chatBox"
          type="text"
          matInput
          #message>
        <mat-icon
          (click)="emojiPickerOpen = true"
          class="cursor-pointer emoji-icon"
          align="end" matSuffix>
          <i class="fas fa-surprise"></i>
        </mat-icon>
      </mat-form-field>

      <div
        *ngIf="typingUsernames.length <= 0"
        class="pt-3"></div>
      <div
        *ngIf="typingUsernames.length > 0"
        class="typing">
        <strong>{{ typingUsernames.join(', ') }}</strong> {{ typingUsernames.length > 1 ? 'are' : 'is' }} typing...
      </div>
    </div>
  </div>
  <div *ngIf="!channel">
    <spinner></spinner>
  </div>

  <div class="ctx-menu ctx-member-menu">
    <div class="kick text-danger cursor-pointer">Kick User</div>
  </div>

  <audio src="assets/audio/notification.wav" #notificationSound></audio>
</guild-sidebar>