.footer {
  padding: 10px 15px 0 15px;
}

.messages {
  overflow-y: auto;

  margin-top: 5px;
  padding-bottom: 1vh;
  height: 82.5vh;
}

.typing {
  font-size: small;
  margin-top: -3px;
}
.emoji-icon {
  transition: transform .3s ease;
}
.emoji-icon:hover {
  color: gold;
  transform: scale(1.1);
}

/* custom ctx menu */
.ctx-menu {
  border-radius: 5px;
  display: none;
  position: absolute;

  background-color: var(--background-tertiary);

  padding: 10px;
}