<sidebar>
  <div *ngIf="guild" class="side-nav navbar-dark">
    <div class="header">
      <div class="dropdown">
        <button
          id="heftyButton"
          [matMenuTriggerFor]="guildMenu"
          class="btn bg-transparent"
          type="button">
          <h1><strong>{{ guild.name }}</strong></h1>
        </button>
      </div>
    </div>
    <div class="category">Channels</div>
    <div
      *ngIf="guild && perms.can(guild._id, 'VIEW_CHANNELS')"
      class="navbar-nav">
      <app-channel-tab
        *ngFor="let channel of textChannels"
        [channel]="channel"></app-channel-tab>
      <app-channel-tab
        *ngFor="let channel of voiceChannels"
        [channel]="channel"></app-channel-tab>
    </div>
  </div>
    
  <div id="content">
    <dashboard-navbar
      *ngIf="selectedChannel">
      <i class="fas fa-hashtag text-muted pr-2"></i>
      <strong>{{ selectedChannel.name }}</strong> 

      <div class="float-right">
        <i (click)="toggleMemberList()"
          class="fas fa-users text-muted cursor-pointer"></i>
      </div>
    </dashboard-navbar>
    
    <div *ngIf="loaded">
      <ng-content></ng-content>
    </div>
    <div *ngIf="!loaded">
      <spinner></spinner>
    </div>
  </div>
</sidebar>

<mat-menu #guildMenu="matMenu" width="400px">
  <a *ngIf="perms.can(guild._id, 'CREATE_INVITE')"
    (click)="createInviteDialog()"
    class="dropdown-item invite"
    mat-menu-item>Invite People <i class="fas fa-user-plus"></i></a>
    
  <a *ngIf="perms.can(guild._id, 'MANAGE_GUILD')"
    class="dropdown-item"
    [routerLink]="'/channels/' + guild._id + '/settings'"
    mat-menu-item>Guild Settings <i class="fas fa-cogs"></i></a>
    
  <a *ngIf="perms.can(guild._id, 'MANAGE_CHANNELS')"
    (click)="createChannelDialog()"
    class="dropdown-item"
    mat-menu-item>Create Channel <i class="fas fa-plus-circle"></i></a>
</mat-menu>
