<sidebar>
  <div
    *ngIf="guild"
    class="side-nav navbar-dark">
    <div class="header">
      <div class="dropdown">
        <button
          id="heftyButton"
          [matMenuTriggerFor]="guildMenu"
          class="btn bg-transparent text-center"
          type="button">
          <h6 class="d-flex flex-column jusify-content-center mb-0">
            <strong>{{ guild.name }}</strong>
            <i class="lni lni-chevron-down ml-1"></i>
          </h6>
        </button>
      </div>
    </div>

    <div class="category">Channels—{{ textChannels.length }}</div>
    <div
      *ngIf="perms.can(guild._id, 'VIEW_CHANNELS')"
      class="navbar-nav">
      <app-channel-tab
        *ngFor="let channel of textChannels"
        [channel]="channel"></app-channel-tab>
    </div>
  </div>
    
  <div id="content">    
    <div *ngIf="loaded">
      <ng-content></ng-content>
    </div>
    <div *ngIf="!loaded">
      <spinner></spinner>
    </div>
  </div>
</sidebar>

<mat-menu #guildMenu="matMenu">
  <a *ngIf="perms.can(guild._id, 'CREATE_INVITE')"
    (click)="dialog.createInvite({ guild: guild })"
    class="dropdown-item invite"
    mat-menu-item>
    <i class="lni lni-user"></i> Invite People</a>
    
  <a *ngIf="perms.can(guild._id, 'MANAGE_GUILD')"
    class="dropdown-item"
    [routerLink]="'/channels/' + guild._id + '/settings'"
    mat-menu-item><i class="lni lni-cog"></i> Guild Settings</a>
    
  <a *ngIf="perms.can(guild._id, 'MANAGE_CHANNELS')"
    (click)="dialog.createChannel({ guild: guild })"
    class="dropdown-item"
    mat-menu-item><i class="lni lni-circle-plus"></i> Create Channel</a>
</mat-menu>
