<guild-sidebar [waitFor]="savedGuild">
    <div *ngIf="form" class="container">
        <form #f="ngForm" [formGroup]="form">
            <div>
                <div class="d-flex justify-content-between">
                    <h1 routerLink="/docs/leveling"
                        class="display-3">Leveling</h1>
                    <mat-slide-toggle formControlName="enabled"
                        class="float-right mt-5"></mat-slide-toggle>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Ignored Roles</mat-label>
                        <mat-select multiple
                            formControlName="ignoredRoles">
                            <mat-option *ngFor="let role of roles" 
                                [value]="role.id"
                                [style.color]="'#' + role.color?.toString(16)">@{{ role.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>XP Per Message</mat-label>
                        <input formControlName="xpPerMessage"
                            type="number" matInput>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div>
                        <label class="d-block">Max Messages Per Minute</label>
                        <mat-slider formControlName="maxMessagesPerMinute"
                            step="1" tickInterval="1" thumbLabel max="30"></mat-slider>
                    </div>
                </div>
            </div>
            <hr>
            <h3>Level Roles</h3>
            <p class="desc">Reward users with roles when leveling up</p>
            <div formArrayName="levelRoles" class="row">
                <div *ngFor="let i of levelRoleIndices"
                    class="col-lg-6 col-sm-12">
                    <div [formGroupName]="i" class="rounded role d-flex justify-content-around row">
                        <div class="col-sm-6">
                            <mat-form-field appearance="outline">                                
                                <mat-label>Level</mat-label>                            
                                <input type="number" formControlName="level" matInput #level>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field appearance="outline">                                
                                <mat-label>Role</mat-label>
                                <mat-select
                                    formControlName="role">
                                    <mat-option *ngFor="let role of roles" 
                                        [value]="role.id"
                                        [style.color]="'#' + role.color?.toString(16)">@{{ role.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div [@expandCollapse]="(level.value > 0) ? 'down' : 'up'"
                            class="px-4" [class]="(level.value > 0) ? 'pb-3' : ''">
                            A member would need a total of <strong>{{ getXPForLevel(level.value) | number }}XP</strong> to unlock this.
                            It would take them a minimum of <strong>{{ getHoursForLevel(level.value) | number }} hours</strong> if they didn't stop typing.
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</guild-sidebar>