<div
  class="guild-icon"
  (contextmenu)="dialogs.openMenu($event, menuTrigger)"
  [matMenuTriggerFor]="contextMenu"
  routerLinkActive="active"
  #menuTrigger="matMenuTrigger">
  <div
    (click)="$event.stopPropagation()"
    [routerLink]="'/channels/' + guild._id">
    <img
      *ngIf="guild.iconURL"
      [src]="guild.iconURL"
      [alt]="guild.name"
      [style.width]="size"
      [style.height]="size"
      #img>
    <span
      *ngIf="!guild.iconURL"
      class="d-flex flex-column justify-content-center"
      [style.width]="size"
      [style.height]="size">
      <span>{{ guild.nameAcronym }}</span>
    </span>
  </div>
</div>

<mat-menu
  matMenuContent
  #contextMenu>
  <h6 class="p-2 text-center">{{ guild.name }}</h6>

  <div *ngIf="guild.ownerId !== userService.self._id">
    <button
      (click)="guildService.leave(guild._id)"
      class="text-danger p-2"
      mat-menu-item>
      <i class="lni lni-exit"></i>
      <span> Leave</span>
    </button>
    
    <hr>
  </div>

  <div (click)="$event.stopPropagation()" class="p-2">
    <i class="lni lni-dev"></i>
    <code> {{ guild._id }}</code>
  </div>
</mat-menu>