<sidebar>
    <div class="side-nav navbar-dark">
        <div class="header"></div>
        <div class="navbar-nav">
            <a routerLink="/channels/@me"
                routerLinkActive="active"
                class="nav-item nav-link">
            <i class="fa fa-user-friends pr-2" aria-hidden="true"></i> Friends</a>
            <div class="category">Direct Messages</div>
            <div class="mx-2">
              <member-username
                *ngFor="let friend of user.friends"
                class="cursor-pointer"
                [routerLink]="'/channels/@me/' + userService.getDMChannel(friend._id)?._id"
                [user]="friend"
                [guild]="guild"></member-username>
            </div>
            

            <form #f="ngForm" [formGroup]="form">
                <div class="category">Other</div>
                <mat-form-field appearance="outline" class="ml-3 m-2">
                    <mat-label>Theme</mat-label>
                    <mat-select formControlName="theme" #themeSelect>
                        <mat-option value="CHOCOLATE">Chocolate</mat-option>
                        <mat-option value="CLONE">Clone (Default)</mat-option>
                        <mat-option value="COSMIC">Cosmic</mat-option>
                        <mat-option value="DISCORD">Discord</mat-option>
                        <mat-option value="IONIC" selected>Ionic</mat-option>
                        <mat-option value="TWILIGHT">Twilight</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
    </div>
    <div id="content">
        <ng-content></ng-content>
    </div>
</sidebar>