<guild-sidebar [waitFor]="savedGuild && form">
    <div *ngIf="form" class="container">
        <div class="jumbotron">
            <h1 class="display-3">Announce</h1>
            <hr>
        </div>
        <form #f="ngForm" [formGroup]="form">
            <h3>Events</h3>
            <p class="desc">Send messages to a channel when the event is triggered</p>
            <hr>
            <div formArrayName="events" class="row">
                <div *ngFor="let event of events; index as i" class="col-lg-6 col-sm-12">
                    <div [formGroupName]="i" class="event">
                        <input type="hidden" formControlName="event">
                        <span class="d-flex justify-content-between">
                            <strong>{{ EventType[i] }}</strong>
                            <mat-slide-toggle formControlName="enabled"></mat-slide-toggle>
                        </span>
                        <hr>
                        <mat-form-field appearance="outline">                                
                            <mat-label>Message</mat-label>
                            <textarea formControlName="message" matInput>{{ getEvent(event)?.message }}</textarea>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Channel</mat-label>
                            <mat-select formControlName="channel">
                                <mat-option *ngFor="let channel of textChannels" 
                                    [value]="channel.id">#{{ channel.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
    </div>
</guild-sidebar>
