span.icon {
  position: absolute;
  top: 65%;
  left: 12px;
}

label {
  position: relative;
  width: 100%;
  height: 100%;
}

label:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
}

input {
  padding: 8px 36px;
}