input {
  border: 1px solid var(--bg-secondary-alt);
  caret-color: var(--heading);
}
input:hover {
  border: 1px solid var(--bg-tertiary);
}
input:focus {
  border: 1px solid var(--link);
}
input:disabled {
  color: var(--muted);
  cursor: not-allowed;
}
