<div id="errorPopup" class="rounded popup p-2" hidden></div>
<div id="successPopup" class="rounded popup p-2" hidden></div>

<router-outlet></router-outlet>

<div
  *ngIf="sfxEnabled"
  class="sfxEnabled">
  <audio id="successSound" src="assets/audio/success.wav"></audio>
  <audio id="errorSound" src="assets/audio/error.wav"></audio>
  <audio id="notificationSound" src="assets/audio/notification.wav"></audio>
  <audio id="messageSound" src="assets/audio/message.wav" [volume]="0.25"></audio>

  <audio id="connectSound" src="assets/audio/mute.wav"></audio>
  <audio id="connectSound" src="assets/audio/unmute.wav"></audio>
  <audio id="connectSound" src="assets/audio/connect.wav"></audio>
  <audio id="connectSound" src="assets/audio/disconnect.wav"></audio>
</div>
