<mat-sidenav-container fullscreen>
    <mat-sidenav #drawer mode="side" opened>
        <div class="guilds">
            <div class="user">
                <div routerLink="/dashboard" class="guild-icon">
                    <img [src]="user.displayAvatarURL" alt="{{ user.username }}">
                </div>
                <hr>
            </div>
            <div *ngFor="let guild of guilds" [routerLink]="['/servers/' + guild.id]"
                class="guild-icon">
                <img *ngIf="guild.iconURL"
                    [src]="guild.iconURL" [alt]="guild.name">
                <span *ngIf="!guild.iconURL">{{ guild.nameAcronym }}</span>
            </div>
        </div>
        <div class="options">
            <ng-content select=".side-nav"></ng-content>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <navbar></navbar>
        <button mat-raised-button (click)="drawer.toggle()"
            class="toggle">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <ng-content select="#content"></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>