.message .left-side {
  width: 72px;
}
.message .right-side {
  width: 48px;
}

.message .left-side img {
  width: 40px;
  height: 40px;
}

.message .message-content {
  padding: 0 8px;
}

.message:hover .timestamp {
  opacity: 1;
}
.message .timestamp {
  opacity: 0;
}
