<div class="row">
  <div class="col-3">
    <div class="developer-sidebar">
      <header
        routerLink="/developers"
        class="cursor-pointer my-5">
        <a class="p-2 text-muted" routerLink="/developers">
          <i class="fas fa-arrow-left mt-2"></i>
          <strong class="pl-2">DASHBOARD</strong>
        </a>
      </header>
      
      <nav *ngIf="app" class="side-nav mt-3">
        <a routerLinkActive="active"
          class="nav-link"
          [routerLink]="'/developers/applications/' + app._id">
          <i class="fas fa-eye"></i> Overview</a>
        <a routerLinkActive="active"
          class="nav-link"
          [routerLink]="'/developers/applications/' + app._id + '/user'">
          <i class="fas fa-robot"></i> User</a>
      </nav>
    </div>
  </div>

  <div
    *ngIf="app; else loading"
    class="col-8 m-4 mt-5">
    <header>
      <h2>Bot User</h2>
      <p class="lead">General info about your bot user.</p>
    </header>

    <form #f="ngForm" [formGroup]="form" class="overflow-hidden">
      <div class="row">
        <div class="col-6">
          <app-avatar-url
            [user]="{ avatarURL: form.get('avatarURL').value }"
            size="96px"></app-avatar-url>
    
          <mat-form-field appearance="outline" class="ml-3">
            <mat-label>Avatar URL</mat-label>
            <input
              formControlName="avatarURL"
              type="url"
              matInput>
          </mat-form-field>
        </div>
        
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input formControlName="username" type="text" matInput>
            <mat-hint *ngIf="form.get('username').pending"><i class="fas fa-circle-notch fa-spin"></i> Checking</mat-hint>
            <mat-error *ngIf="form.get('username').errors?.required">Username is required.</mat-error>
            <mat-error *ngIf="form.get('username').errors?.shouldBeUnique">Username is already taken.</mat-error>
            <mat-error *ngIf="form.get('username').errors?.pattern">Username should follow the <a routerLink="/docs/usernames">username rules</a>.</mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <h3>Token</h3>
          <p class="lead">Use this to log into the bot. Keep this safe!</p>
          <input type="hidden" value="hidden" #shown>
          <div class="token" [hidden]="shown.value === 'hidden'">{{ app.token }}</div>
          <div class="buttons">
            <button
              type="button"
              class="text-info"
              (click)="shown.value = (shown.value === 'shown') ? 'hidden' : 'shown'"
              [textContent]="(shown.value === 'shown') ? 'Hide' : 'Show'"
              mat-button></button>
            <button
              type="button"
              class="text-success"
              (click)="copyToken()"
              mat-button>Copy</button>
            <button
              type="button"
              class="text-danger"
              (click)="regenToken()"
              mat-button>Regen</button>
          </div>
        </div>

        <div class="col-6">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Client ID</mat-label>
              <input [value]="app._id" type="text" disabled matInput>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Bot ID</mat-label>
              <input [value]="app.user._id" type="text" disabled matInput>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>

  <ng-template
    class="col-6 d-flex justify-content-center"
    #loading>
    <spinner></spinner>
  </ng-template>
</div>
