.footer {
  padding: 10px 15px 0 15px;
}

.messages {
  overflow-y: auto;

  margin-top: 5px;
  padding-bottom: 1vh;
  height: 82.5vh;
}

.typing {
  font-size: small;
  margin-top: -3px;
}
