<div
  *ngIf="channel && messages"
  (click)="onClick($event)">
  <div
    *ngIf="(!guild && loadedAllMessages)
      || (guild && perms.can(guild.id, 'READ_MESSAGES')); else lackingPerms"
    class="messages"
    infiniteScroll
    [scrollWindow]="false"
    (scrolledUp)="false && loadMoreMessages()">
    <div
      class="jumbotron pb-0">
      <p class="lead">
        Start of {{ title }} message history.
      </p>
      <hr>
    </div>

    <spinner *ngIf="!loadedAllMessages"></spinner>
  
    <div
      *ngFor="let message of messages; index as i; trackBy: identifyMessage"
      class="message"
      [id]="'message' + message.id">
      <message
        [message]="message"
        [isExtra]="shouldCombine(i)"
        [member]="guildService.getMember(guild?.id, message.authorId)"
        [guild]="guild"></message>
    </div>
  </div>

  <ng-template #lackingPerms>
    <div class="messages">
      <div class="jumbotron pb-0">
        <p class="lead">
          <i class="lni lni-eye text-muted"></i>
          <span> Message history of {{ title }} is hidden.</span>
        </p>
        <hr>
      </div>
    </div>
  </ng-template>
  
  <div
    *ngIf="channel"
    class="footer">
    <emoji-mart
      *ngIf="emojiPickerOpen"
      class="float-right"
      emoji="joy"
      title="Pick an Emoji"
      (click)="emojiPickerOpen = !emojiPickerOpen"
      (emojiClick)="addEmoji($event)"></emoji-mart>
  
    <mat-form-field
      autoFocus
      (keyup)="emitTyping()"
      (keyup.enter)="chat(message.value)"
      appearance="fill"
      class="d-block">
      <mat-label>Message {{ title }}</mat-label>
      <textarea
        [disabled]="guild && !perms.can(guild.id, 'SEND_MESSAGES')"
        id="chatBox"
        matInput
        #message></textarea>
  
      <mat-icon
        (click)="emojiPickerOpen = true"
        class="cursor-pointer"
        matSuffix>
        <i class="lni lni-emoji-happy"></i>
      </mat-icon>
    </mat-form-field>
  
    <div
      *ngIf="typingUsernames.length <= 0"
      class="pt-3"></div>
    <div
      *ngIf="typingUsernames.length > 0"
      class="typing">
      <strong>{{ typingUsernames.join(', ') }}</strong> {{ typingUsernames.length > 1 ? 'are' : 'is' }} typing...
    </div>
  </div>
  <div *ngIf="!channel">
    <spinner></spinner>
  </div>  
</div>

