<guild-sidebar>
  <div *ngIf="channel">
    <div class="float-right member-list">
      <div class="category">Online—{{ onlineMembers.length }}</div>
      <div>
        <member-username *ngFor="let member of onlineMembers"
          class="cursor-pointer"
          [user]="member.user" [guild]="guild"></member-username>
      </div>

      <div class="category">Offline—{{ offlineMembers.length }}</div>
      <div>
        <member-username *ngFor="let member of offlineMembers"
          class="cursor-pointer"
          [user]="member.user" [guild]="guild"></member-username>
      </div>
    </div>
    <div class="messages"
      infiniteScroll
      [scrollWindow]="false"
      (scrolledUp)="loadMoreMessages()">
      <div *ngIf="loadedAllMessages"
        class="jumbotron pb-0">
        <p class="lead">Start of #{{ channel.name }} message history.</p>
        <hr>
      </div>
      <spinner *ngIf="!loadedAllMessages"></spinner>

      <div *ngFor="let message of messages; index as i"
        [id]="'message' + message._id"
        class="message-preview">
        <message-preview
          [message]="message"
          [isExtra]="shouldCombine(i)"></message-preview>
      </div>
    </div>
    <div class="footer">
      <mat-form-field (keyup)="emitTypingStart()"
        (keyup.enter)="chat(message.value)"
        appearance="outline">
        <mat-label>Message #{{ channel.name }}</mat-label>
        <input id="chatBox" type="text" matInput #message>
      </mat-form-field>
      <div *ngIf="typingUsernames.length <= 0" class="pt-3"></div>
      <div *ngIf="typingUsernames.length > 0"
        class="typing">
        <strong>{{ typingUsernames.join(', ') }}</strong> {{ typingUsernames.length > 1 ? 'are' : 'is' }} typing...
      </div>
    </div>
  </div>
  <div *ngIf="!channel">
    <spinner></spinner>
  </div>
</guild-sidebar>