.footer {
  position: absolute;
  bottom: 0;
  
  padding: 15px;
  width: 100%;
}

.member-list {
  background-color: var(--background-secondary);

  width: 250px;
  height: 95vh;
  padding-right: 16px;
}

.offline {
  opacity: 0.5;
}

.extra-message {
  color: white;
  padding-left: 80px;
}
.extra-message:hover {
	background-color: rgba(46,48,54,.3);
}