<dashboard-sidebar>
  <dashboard-navbar hasToggle="true">
    <span class="float-left">
      <i class="lni lni-users pr-2"></i>
      <strong>Friends</strong>      
    </span>

    <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">  
      <span class="mx-3 py-1"></span>
  
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a (click)="tab = 'ONLINE'" 
            [class.active]="tab === 'ONLINE'"
            class="nav-link active mt-sm-0 mt-1">
            <span>Online</span>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="tab = 'ALL'" 
            [class.active]="tab === 'ALL'"
            class="nav-link mt-sm-0 mt-1">
            <span>All</span>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="tab = 'PENDING'" 
            [class.active]="tab === 'PENDING'"
            class="nav-link mt-sm-0 mt-1">
            <span>Pending</span>
            <strong
              *ngIf="friendsList.users.friendRequests.length"
              class="text-primary"> {{ friendsList.users.friendRequests.length }}</strong>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="tab = 'BLOCKED'" 
            [class.active]="tab === 'BLOCKED'"
            class="nav-link text-warning mt-sm-0 mt-1">
            <span>Blocked</span>
            <strong
              *ngIf="friendsList.blockedUsers.length"
              class="text-primary"> {{ friendsList.blockedUsers.length }}</strong>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="dialog.addFriend()"
            class="nav-link bg-success text-dark mt-sm-0 mt-1">Add Friend</a>
        </li>
      </ul>
    </div>
  </dashboard-navbar>

  <friends-list
    [tab]="tab"
    #friendsList></friends-list>
</dashboard-sidebar>
