<guild-sidebar [waitFor]="savedGuild">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Commands</h1>
            <hr>
        </div>
        <form #f="ngForm" [formGroup]="form">
            <div formArrayName="configs" class="row">
                <div [formGroupName]="i" *ngFor="let command of commands; index as i"
                    class="col-lg-6 col-md-12">
                    <div class="card d-flex justify-content-between">
                        <div class="card-body">
                            <span>
                                <input type="hidden" formControlName="name">
                                {{ command.name }}
                            </span>
                            <div class="float-right">
                                <mat-slide-toggle formControlName="enabled"></mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</guild-sidebar>
