<guild-sidebar>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Commands</h1>
            <hr>
        </div>
        <form #f="ngForm" [formGroup]="form" (ngSubmit)="submit(f.value)">
            <div class="row">
                <div *ngFor="let command of commands"
                    class="col-lg-6 col-md-12">
                    <div class="card d-flex justify-content-between">
                        <div class="card-body">
                            <span>
                                {{ command.name }}
                            </span>
                            <div class="float-right">
                                <mat-slide-toggle
                                    [formControlName]="command.name"
                                    (change)="onChange($event)"></mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</guild-sidebar>