<app-settings-sidebar
  tabType="guild"
  [id]="guild?._id">
  <div *ngIf="guild" class="content">
    <h5 class="uppercase mb-4">Guild Overview</h5>
    <div class="row">
      <div class="col-6">
        <div
          [routerLink]="'/channels/' + guild._id"
          routerLinkActive="active"
          class="guild-icon round">
          <img *ngIf="guild.iconURL"
              [src]="guild.iconURL" [alt]="guild.name">
          <span *ngIf="!guild.iconURL"
              class="d-flex justify-content-center">{{ guild.nameAcronym }}</span>
        </div>
      </div>
      <div class="col-6">
        <form *ngIf="form"
          #f="ngForm" [formGroup]="form">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" type="text" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Icon URL</mat-label>
            <input formControlName="iconURL" type="text" matInput>
          </mat-form-field>
        </form>
      </div>
    </div>
    <hr class="my-4">

    <a (click)="deleteGuild()"
      class="nav-item nav-link text-danger">
      <i class="fas fa-trash text-muted"></i>
      Delete</a>
  </div>  
</app-settings-sidebar>