.guild-icon {
  width: 100px;
  height: 100px;

  font-size: 40px;

  color: var(--heading);
  background-color: var(--primary);
}
.guild-icon span {
  text-align: center;

  font-size: 32px;
  padding-top: 28px;

  transition: all .35s;
}
.guild-icon img {    
  border-radius: 50%;

  transition: all .35s;
}