.guild-icon {
    border-radius: 50%;

    margin: 5px;
    width: 52px;
    height: 52px;

    background-color: var(--background-primary);
    transition: all .35s;

    cursor: pointer;
}

.guild-icon img:hover, .guild-icon:hover, .guild-icon span:hover {
    border-radius: 25%;
}

.guild-icon span {
    text-align: center;

    font-size: 18px;

    width: 52px;
    height: 48px;
    padding-top: 14px;

    transition: all .35s;
}

.guild-icon img {
    max-width: 52px;
    border-radius: 50%;

    transition: all .35s;
}

button {
    background: transparent;
    border: none;
    color: var(--font);

    font-size: 32px;
}

.guilds {
    background-color: var(--background-tertiary);
    float: left;
    height: inherit;
    padding-top: 12px;
}

.options {
    background-color: var(--background-secondary) !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

    width: 275px;
    height: inherit;

    margin-left: 75px;
}

.toggle {
    visibility: visible;

    margin: 50px 0 0 15px;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .toggle {
        visibility: hidden;
    }
}

mat-sidenav {
    height: 100vh;
    background-color: var(--background-tertiary);
}

.guild-icon .add-guild {
    font-size: 40px;

    color: var(--secondary);
}

.invite:hover {
    background-color: var(--tertiary);
}

.guild-seperator {
    height: 2px;
    width: 32px;
    border-radius: 1px;

    border-color: var(--background-secondary);
}

.close {
    position: absolute;
    top: 0;
    right: 15px;

    font-size: 48px;

    color: var(--primary);
    text-shadow: none;
}