.guild-icon {
    border-radius: 50%;

    margin: 5px;
    width: 64px;
    height: 64px;

    background-color: var(--background-primary);
    transition: all .35s;

    cursor: pointer;
}

.guild-icon img:hover, .guild-icon:hover, .guild-icon span:hover {
    border-radius: 25%;
}

.guild-icon span {
    text-align: center;

    font-size: 20px;

    width: 64px;
    height: 48px;
    padding-top: 16px;

    transition: all .35s;
}

.guild-icon img {
    max-width: 64px;
    border-radius: 50%;

    transition: all .35s;
}

button {
    background: transparent;
    border: none;
    color: var(--font);

    font-size: 32px;
}

.guilds {
    background-color: var(--background-tertiary);
    float: left;
    height: inherit;
}

.options {
    background-color: var(--background-primary) !important;

    width: 300px;
    height: inherit;
}

.toggle {
    visibility: visible;

    margin: 50px 0 0 15px;
}

mat-sidenav {
    height: 100vh;
    background-color: var(--background-tertiary);
}

.guild-icon .add-guild {
    font-size: 40px;
    padding-left: 18px;
    padding-top: 0px;
}

.invite:hover {
    background-color: var(--tertiary);    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .toggle {
        visibility: hidden;
    }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag {
  border-radius: 50%;
}