<div
  *ngIf="perms.can(guild.id, 'VIEW_CHANNELS')"
  #menuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="channelMenu"
  (contextmenu)="openMenu($event, menuTrigger)"
  cdkDrag>
  <div *ngIf="channel.type === 'TEXT'">
    <a (click)="$event.stopPropagation()"
      class="nav-item nav-link"
      [routerLink]="'/channels/' + guild.id + '/' + channel.id"
      routerLinkActive="active">    
      <i class="fas fa-hashtag text-muted pr-1"></i>
      <span>{{ channel.name }}</span>

      <span
        *ngIf="isUnread"
        matTooltip="Unread"
        class="mr-2 float-right">
        <i class="lni lni-alarm text-danger"></i>
      </span>
    </a>
  </div>
</div>

<mat-menu
  #channelMenu="matMenu"
  matMenuContent>
  <h6 class="p-2 text-center">#{{ channel.name }}</h6>

  <div (click)="$event.stopPropagation()">
    <button
      *ngIf="perms.can(guild.id, 'MANAGE_CHANNELS')"
      (click)="delete()"
      class="text-danger"
      mat-menu-item>
      <i class="lni lni-trash" aria-hidden="true"></i>
      <span class="ml-2">Delete</span>
    </button>
    
    <div
      *ngIf="config.get('developerMode')"
      class="mt-2 p-2">
      <i class="lni lni-dev"></i>
      <code> {{ channel.id }}</code>
    </div>
  </div>
</mat-menu>
