.member-list {
  background-color: var(--background-secondary);

  width: 100%;
  height: 95vh;
  padding-left: 10px;
  padding-right: 16px;
}
.member-list .category {
  padding-left: 10px;
}

.offline {
  opacity: 0.5;
}

@media (max-width: 576px) {
  .member-list {
    width: 100vw !important;
  }
}