<div
  *ngIf="guild"
  [@expandCollapse]="(isExpanded) ? 'expanded' : 'collapsed'"
  class="float-right member-list">
  <div class="category">Online—{{ onlineMembers.length }}</div>
  <div>
    <member-username
      *ngFor="let member of onlineMembers"
      class="cursor-pointer"
      [user]="userService.getCached(member.userId)"
      [guild]="guild"></member-username>
  </div>

  <div
    *ngIf="offlineMembers.length"
    class="category">Offline—{{ offlineMembers.length }}</div>
  <div>
    <member-username
      *ngFor="let member of offlineMembers"
      class="cursor-pointer"
      [user]="userService.getCached(member.userId)"
      [guild]="guild"></member-username>
  </div>
</div>
