<div
  *ngIf="user"
  [matMenuTriggerFor]="contextMenu"
  #menuTrigger="matMenuTrigger"
  (contextmenu)="openMenu($event, menuTrigger)"
  class="member-username"
  [title]="user.username"
  [class]="(guild) ? 'user-' + user.id + ' ' + user.status?.toLowerCase() : ''">
  <div
    [routerLink]="routerLink || './'"
    class="username-wrapper"
    (click)="$event.stopPropagation()">
    <app-avatar-url
      *ngIf="withAvatar"
      [user]="user"></app-avatar-url>
    <span
      class="status round"
      [class]="user.status?.toLowerCase()"></span>
    <div
      [style.color]="member ? roleColor : 'var(--light)'"
      class="username">  
      <span class="username-text">{{ user.username }}</span>
      <span
        *ngIf="user.bot"
        textContent="user.username === 'Accord' ? 'SYSTEM' : 'BOT'"
        class="ml-1 badge badge-secondary"></span>
      <span
        *ngIf="guild?.ownerIds.includes(user.id)"
        matTooltip="Guild Owner"
        class="crown pl-1">
        <i class="lni lni-crown text-warning"></i>
      </span>
    </div>
  </div>
</div>

<mat-menu
  (closed)="guild
    && perms.canManage(guild.id, user.id, 'MANAGE_ROLES')
    && update()"
  #contextMenu>
  <h6 class="p-2 text-center">{{ user.username }}</h6>

  <button
    *ngIf="isBlocked && user.id !== userService.self.id"  
    (click)="userService.unblock(user.id)"
    mat-menu-item>
    <i class="lni lni-ban text-muted mr-1"></i>
    <span>Unblock</span>
  </button>
  <button
    *ngIf="!isBlocked && user.id !== userService.self.id"  
    (click)="userService.block(user.id)"
    mat-menu-item>
    <i class="lni lni-ban text-danger mr-1"></i>
    <span>Block</span>
  </button>
  
  <div
    *ngIf="guild"
    class="mt-2">
    <mat-form-field
      *ngIf="perms.canManage(guild.id, user.id, 'MANAGE_ROLES')"  
      (click)="$event.stopPropagation()"
      appearance="outline">
      <mat-label>Roles</mat-label>
      <mat-select
        [value]="member.roleIds"
        multiple
        #rolesInput>
        <mat-option
          *ngFor="let role of guildRoles.reverse()"
          [value]="role.id"
          [style.color]="role.color"
          [disabled]="!perms.isHigher(guild.id, [role.id])"
          [attr.selected]="member.roleIds.includes(role.id)">{{ role.name }}</mat-option>
      </mat-select> 
    </mat-form-field>
  </div>

  <div *ngIf="guild">
    <button
      *ngIf="perms.canPunish(guild.id, user.id, 'KICK_MEMBERS')"
      (click)="guildService.kick(guild.id, user.id)"
      mat-menu-item>
      <i class="lni lni-close text-danger mr-1"></i>
      <span>Kick</span>
    </button>
  </div>

  <div
    *ngIf="config.get('developerMode')"
    (click)="$event.stopPropagation()" class="p-2">
    <i class="mt-2 lni lni-dev"></i>
    <code> {{ user.id }}</code>
  </div>
</mat-menu>
