<navbar></navbar>

<header class="container">
  <div class="jumbotron">
    <h1 class="display-4">Chat With Ease</h1>
    <p class="lead">
      Seamlessly chat with friends within seconds. <br>
      With friends, guilds, roles, and more.
    </p>
    <button routerLink="/login" class="bg-success text-dark" mat-button>Get Started</button>
    <a href="#features">
      <button class="bg-info ml-2 text-light" mat-button>Features</button>
    </a>
  </div>
</header>

<waves></waves>
<section id="features" class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <mat-card class="bg-transparent shadow-none">
          <img src="assets/img/logo.png" alt="" mat-card-image>
          <mat-card-title><i class="fas fa-comments"></i> Chat with Ease</mat-card-title>
          <mat-card-subtitle>Ez</mat-card-subtitle>
          <mat-card-content></mat-card-content>
        </mat-card>
      </div>
      
      <div class="col-lg-4 col-md-6 col-sm-12">
        <mat-card class="bg-transparent shadow-none">
          <img src="assets/img/logo.png" alt="" mat-card-image>
          <mat-card-title><i class="fas fa-lock"></i> Super Secure</mat-card-title>
          <mat-card-subtitle>Every message is encrypted</mat-card-subtitle>
          <mat-card-content>(Describe peer to peer encryption)</mat-card-content>
          <mat-card-actions class="text-center">
            <button class="bg-info" mat-button>See How</button>
          </mat-card-actions>
        </mat-card>
      </div>
      
      <div class="col-lg-4 col-md-6 col-sm-12">
        <mat-card class="bg-transparent shadow-none">
          <img src="assets/img/logo.png" alt="" mat-card-image>
          <mat-card-title><i class="fas fa-paint-roller"></i> Custom Themes</mat-card-title>
          <mat-card-subtitle>Customize Accord to Your Accord</mat-card-subtitle>
          <mat-card-content>Choose from a wide range of premade themes to customize your experience.</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <app-submarine></app-submarine>
</section>
  
<footer>
  <p class="float-right bg-tertiary">{{ version }}</p>
</footer>