header {
  background: none;
  text-align: center;
  
  margin-top: 15vh;
  margin-bottom: 300px;
}

p:not(.lead) {
  color: var(--secondary);
  cursor: pointer;
}

footer {
  z-index: 1 !important;
}

.main {
  background-color: var(--background-secondary) !important;

  padding-top: 150px;
  padding-bottom: 150px;
  min-height: 750px;
}

mat-card {
  transition: transform .5s ease;
  cursor: pointer;
}
mat-card:hover {
  transform: scale(1.1);
}
mat-card {
  text-align: center;
}
mat-card-subtitle {
  font-weight: bold;
}
mat-card-subtitle,
mat-card-content {
  color: var(--secondary);
}

app-submarine {
  position: absolute;
  top: 160%;
  transform: scale(0.5);

  animation: moveLeft 150s infinite;
}

mat-card-title {
  font-size: 32px;
}
mat-card-subtitle {
  font-size: 20px;
}

@keyframes moveLeft {
  0% {
    left: 90%;
  }
  100% {
    left: 10%;
  }
}