<navbar></navbar>

<header class="container">
  <div class="jumbotron">
    <h1 class="display-4">Chat With Ease</h1>
    <p class="lead">
      Seamlessly chat with friends within seconds. <br>
      Accord is easy to use, and customizable.
    </p>
    <button routerLink="/login" class="bg-success text-dark" mat-button>Get Started</button>
    <a href="#features">
      <button class="bg-info ml-2 text-light" mat-button>Features</button>
    </a>
  </div>
</header>

<waves></waves>
<section id="features" class="main">
  <div class="container">
    <div class="text-center">
      <h2 class="display-4">
        <span class="text-muted">Ditch </span>
        <span class="text-light">Discord</span>
        <span class="text-secondary">, Go </span>
        <span>Accord</span>
        <span class="text-muted">.</span>
      </h2>
      <p class="lead"></p>
    </div>
    <hr>
  
    <div class="row">
      <div class="mt-5 col-md-6 col-sm-12">
        <mat-card class="bg-transparent shadow-none">
          <img
            src="assets/img/home/themes.webp"
            alt="Themes"
            style="height: 250px; width: auto; image-rendering: pixelated;"
            mat-card-image>
          <mat-card-title>
            <i class="fas fa-paint-roller"></i>
            <span> Customize to Your <strong>Accord</strong></span>
          </mat-card-title>
          <mat-card-subtitle>Choose from a wide range of premade themes to customize your experience.</mat-card-subtitle>
        </mat-card>
      </div>
    
      <div class="mt-5 col-md-6 col-sm-12">
        <mat-card class="bg-transparent shadow-none">
          <img
            src="assets/img/home/manage_guilds.webp"
            alt="Themes"
            style="height: 250px; width: auto; image-rendering: pixelated;"
            mat-card-image>
          <mat-card-title>
            <i class="fas fa-hashtag"></i> 
            <span> Manage Your Guilds</span>
          </mat-card-title>
          <mat-card-subtitle>Manage your guilds to your accord, and chat with your friends, or others.</mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </div>

  <hr>

  <div class="col-12">
    <div class="d-flex justify-content-center">
      <button
        routerLink="/login"
        class="bg-success text-dark"
        mat-button>Get Started</button>
    </div>
  </div>

  <app-submarine></app-submarine>
</section>
  
<footer>
  <p class="float-right bg-tertiary">{{ version }}</p>
</footer>