<guild-sidebar>
    <div class="container">
        <div class="d-flex justify-content-between">
            <h1 routerLink="/docs/music"
                class="display-3">Music</h1>
        </div>
        <hr>
        <h3>Music Manager</h3>
        <p class="desc">Manage music without commands. You must be in a voice channel first.</p> 
        <div class="rounded manager row p-3">
            <div class="player col-lg-6 border-right border-dark">
                <h5 class="float-none">Player</h5>
                <div class="controls"
                    (keyup.j)="!focused && service.seek(guildId, max(slider.value - 10, 0))"
                    (keyup.l)="!focused && service.seek(guildId, min(slider.value + 10, service.list[0]?.duration))"
                    (keyup.k)="!focused && service.toggle(guildId)"
                    (keyup.enter)="search.value.length >= minSearchLength && service.play(guildId, search.value)">
                    <div class="play">
                        <mat-form-field appearance="outline">
                            <mat-label>Search</mat-label>
                            <input id="search" type="search"
                                matInput #search required
                                [disabled]="service.list.length >= 5">
                        </mat-form-field>
                        <button mat-button color="success"
                            class="ml-2"
                            [disabled]="service.list.length >= 5"
                            (click)="search.value.length >= minSearchLength && service.play(guildId, search.value)">+</button>
                    </div>
                    <div class="player-bar">                 
                        <!-- seek -->
                        <mat-slider type="range"
                            [disabled]="service.list.length <= 0" #slider
                            min="0" [max]="service.list[0]?.duration / 1000" [value]="service.current" step="1"
                            tickInterval="1" thumbLabel
                            (change)="service.seek(guildId, slider.value)"></mat-slider>
                            <p class="pl-5">{{ service.current | durationString }} <span class="text-muted">/ {{ service.list[0]?.duration / 1000 | durationString }}</span></p>
                    </div>
                    <div class="player-controls">
                        <!-- pause/resume -->
                        <button id="toggle" mat-button color="primary"
                            [disabled]="service.list.length <= 0"
                            (click)="service.toggle(guildId)"
                            matTooltip="Toggle Playback">
                            <i [class]="service.paused ? 'fa-play' : 'fa-pause'" class="fa" aria-hidden="true"></i>
                        </button>
                        <!-- stop -->
                        <button id="stop" mat-button color="warn"
                            [disabled]="service.list.length <= 0"
                            (click)="service.stop(guildId)"
                            matTooltip="Stop">
                            <i class="fa fa-stop" aria-hidden="true"></i>
                        </button>
                        <!-- skip -->
                        <button id="skip" mat-button color="yellow"
                            [disabled]="service.list.length <= 1"
                            (click)="service.skip(guildId)"
                            matTooltip="Skip">
                            <i class="fa fa-forward" aria-hidden="true"></i>
                        </button>
                        <!-- shuffle -->
                        <button id="shuffle" mat-button
                            [disabled]="service.list.length <= 0"
                            (click)="service.shuffle(guildId)"
                            matTooltip="Shuffle">
                            <i class="fa fa-random" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="player-controls">
                        <!-- volume -->
                        <button id="volume" mat-button
                            [disabled]="service.list.length <= 0">
                            <i class="fa fa-volume-up" aria-hidden="true"></i>                            
                        </button>
                        <mat-slider type="range" #level
                            min="0" max="100" value="100"
                            [disabled]="service.list.length <= 0"
                            (change)="service.setVolume(guildId, level.value)"></mat-slider>
                    </div>
                    <hr class="d-block d-md-none">        
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex justify-content-between">
                    <h5>Queue</h5>
                    <!-- refresh -->
                    <button mat-button
                        (click)="service.updateList(guildId)">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                </div>
                <ul class="list-group border-bottom pb-2 border-muted">
                    <div *ngFor="let track of service.list; index as i"
                        class="track list-group-item">
                        <span class="mt-2"><code>[{{ track.durationString }}]</code><a [href]="track.uri"> {{ track.title | truncated : 36 }}</a></span>
                        <button class="float-right" color="warn" mat-button
                            (click)="service.removeTrack(guildId, i)">x</button>
                    </div>
                </ul>
                <strong>{{ service.list?.length }}<span class="text-muted">/5</span></strong>
            </div>
        </div>
    </div>
</guild-sidebar>