<sidebar>
    <div class="side-nav navbar-dark">
        <div class="header">
            <img [src]="user.displayAvatarURL" [alt]="user.username">
            <h4 routerLink="/dashboard">{{ user.username }}</h4></div>
            <hr>
            <div class="navbar-nav">
                <a routerLink="/dashboard/xp-card"
                    class="nav-item nav-link">
                    <i class="fa fa-star" aria-hidden="true"></i> XP Card</a>
            </div>
        </div>
    <div id="content">
        <ng-content></ng-content>
    </div>
</sidebar>