<navbar></navbar>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display-3">DClone+</h1>
            <p class="lead">Donate to support DClone and help DClone development.</p>
        </div>
        <div class="col-sm-6">
            <img class="float float-right plus" src="assets/img/DClone-plus-avatar-transparent.svg" alt="">
        </div>
    </div>
    <section id="benefits" class="py-5">
        <plus-cards></plus-cards>
    </section>

    <section id="faq">
        <h2 class="py-2">Infrequently Asked Questions</h2>
        <zippy title="Will my credit card details be stored!?">
            No. We do not store anything to do with your money in our database.
        </zippy>
        <zippy title="Is DClone+ a subscription?">
            Yes. DClone+ is a one-time $5 donation.
        </zippy>
        <zippy title="Are refunds possible?">
            No. Donations are final at this time, as we need to cover hosting costs, and more.
        </zippy>
    </section>
</div>