<div class="modal fade" id="createChannelModal" tabindex="-1" aria-labelledby="createChannelLabel" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createChannelLabel">Create Channel</h5>
        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
            <form #f="ngForm" [formGroup]="form" (submit)="submit()">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" type="text" matInput #nameInput>
                <mat-error *ngIf="form.get('name').invalid">Required, and should be less than 32 characters.</mat-error>
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                class="ml-2">
                <mat-label>Type</mat-label>
                <mat-select
                  formControlName="type"
                  (select)="nameInput.setValue('')">
                  <mat-option value="TEXT" selected>Text</mat-option>
                  <mat-option value="VOICE">Voice</mat-option>
                </mat-select>
              </mat-form-field>

              <div class="d-flex justify-content-center">
                <button
                  (click)="create()"
                  id="createChannelButton"
                  type="button"
                  class="btn btn-success mt-2"
                  [disabled]="processing">Create</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>