<div class="px-4">
  <div [ngSwitch]="tab">
    <div *ngSwitchCase="'ONLINE'">
      <div class="category pl-0 mb-2">Online—{{ onlineFriends.length }}</div>
      
      <div *ngFor="let friend of onlineFriends">
        <div class="float-right">
          <button
            [routerLink]="'/channels/@me/' + channelService.getDMChannel(friend._id)?._id"
            matTooltip="Message"
            class="round px-0" mat-button>
            <i class="fas fa-comment-alt"></i>
          </button>
          <button
            matTooltip="Remove Friend"
            (click)="remove(friend._id)"
            class="round px-0 ml-2" mat-button><i class="fas fa-times"></i></button>
        </div>
        <member-username
          [routerLink]="'/channels/@me/' + channelService.getDMChannel(friend._id)?._id"
          [user]="getFriend(friend._id)"></member-username>
      </div>
      <div
        *ngIf="friends.length <= 0"
        class="text-muted">
        <i class="fas fa-info-circle mr-2"></i>
        <span>No friends online.</span>
      </div>  
    </div>
    
    <div *ngSwitchCase="'ALL'">
      <div class="category pl-0 mb-2">All—{{ friends.length }}</div>

      <div *ngFor="let friend of friends">
        <div class="float-right">
          <button
            [routerLink]="'/channels/@me/' + channelService.getDMChannel(friend._id)?._id"
            matTooltip="Message"
            class="round px-0" mat-button>
            <i class="fas fa-comment-alt"></i>
          </button>
          <button
            matTooltip="Remove Friend"
            (click)="remove(friend._id)"
            class="round px-0 ml-2" mat-button><i class="fas fa-times"></i></button>
        </div>
        <member-username [user]="getFriend(friend._id)"></member-username>
      </div>

      <div
        *ngIf="friends.length <= 0"
        class="text-muted">
        <i class="fas fa-info-circle mr-2"></i>
        <span>No friends here yet.</span>
      </div>  
    </div>
     
    <div *ngSwitchCase="'PENDING'">
      <div class="category pl-0 mb-2">Pending—{{ friendRequests.length }}</div>

      <div *ngFor="let friend of friendRequests">
        <div class="float-right">
          <button
            (click)="add(friend._id)"
            [hidden]="isOutgoing(friend)"
            class="round bg-success px-0" mat-button>
            <i class="fas fa-check" aria-hidden="true"></i>
          </button>

          <button
            (click)="remove(friend._id)"
            class="round px-0 ml-2" mat-button>
            <i class="fas fa-times"></i>
          </button>
        </div>
        
        <span class="badge badge-secondary">{{ isOutgoing(friend) ? 'OUTGOING' : 'INCOMING' }}</span>
        <member-username
          [user]="friend"
          [statusOverride]="isOutgoing(friend) ? 'Outgoing Friend Request' : 'Incoming Friend Request'"></member-username>
      </div>
        
      <div
        *ngIf="friendRequests.length <= 0"
        class="text-muted">
        <i class="fas fa-info-circle mr-2"></i>
        <span>No friend requests sent.</span>
      </div>
    </div>
       
    <div *ngSwitchCase="'BLOCKED'">
      <div class="category pl-0 mb-2">Blocked—{{ 0 }}</div>

      <div *ngFor="let user of blockedUsers">
        <div class="float-right">
          <i (click)="users.unblock(user._id)"
            matTooltip="Unblock"
            class="cursor-pointer fas fa-times-circle"></i>
        </div>
        <member-username></member-username>
      </div>

      <div
        *ngIf="blockedUsers.length <= 0"
        class="text-muted">
        <i class="fas fa-info-circle mr-2"></i>
        <span>No blocked users.</span>
      </div>      
    </div>
  </div>
</div>