<sidebar>
    <div class="side-nav navbar-dark">
        <div class="header">
            <img *ngIf="guild.iconURL"
                [src]="guild.iconURL" [alt]="guild.name">
            <span *ngIf="!guild.iconURL">{{ guild.nameAcronym }}</span>
            <h4 [routerLink]="['/servers/' + guild.id]">{{ guild.name }}</h4>
        </div>
            <hr>
            <div class="navbar-nav">
                <a [routerLink]="['/servers/' + guild.id + '/announce']" routerLinkActive="active"
                    class="nav-item nav-link">
                    <i class="fa fa-bullhorn"></i> Announce</a>
                <a [routerLink]="['/servers/' + guild.id + '/auto-mod']" routerLinkActive="active"
                    class="nav-item nav-link">
                    <i class="fa fa-gavel"></i> Auto-mod</a>
                <a [routerLink]="['/servers/' + guild.id + '/commands']" routerLinkActive="active"
                    class="nav-item nav-link">
                    <i class="fa fa-code"></i> Commands</a>
                <a [routerLink]="['/servers/' + guild.id + '/general']" routerLinkActive="active"
                    class="nav-item nav-link">
                    <i class="fa fa-terminal"></i> General</a>
                <a [routerLink]="['/servers/' + guild.id + '/music']" routerLinkActive="active"
                    class="nav-item nav-link">
                    <i class="fa fa-music"></i> Music</a>
                <a [routerLink]="['/servers/' + guild.id + '/xp']" routerLinkActive="active"
                    class="nav-item nav-link">
                    <i class="fa fa-star"></i> XP</a>
            </div>
            <hr>
            <div class="navbar-nav">
                <a [routerLink]="['/servers/' + guild.id + '/leaderboard']" routerLinkActive="active"
                    class="nav-item nav-link">
                    <i class="fa fa-trophy"></i> Leaderboard</a>
                <a [routerLink]="['/servers/' + guild.id + '/log']" routerLinkActive="active"
                    class="nav-item nav-link">
                    <i class="fa fa-file-text"></i> Log</a>
            </div>
            <hr>
            <div class="navbar-nav">
                <a [routerLink]="['/servers/' + guild.id + '/settings']" routerLinkActive="active"
                    class="nav-item nav-link">
                    <i class="fa fa-cog"></i> Settings</a>
            </div>
        </div>
    <div id="content">
        <div *ngIf="loaded">
            <ng-content></ng-content>
            <div class="mt-5 pt-2"></div>
        </div>
        <div *ngIf="!loaded">
            <spinner></spinner>
        </div>
    </div>
</sidebar>
