<div class="px-4">
  <div [ngSwitch]="tab">
    <div *ngSwitchCase="'ONLINE'">
      <div class="category pl-0 mb-2">Online—{{ onlineFriends.length }}</div>
      
      <div *ngFor="let friend of onlineFriends">
        <div class="float-right">
          <button
            [routerLink]="'/channels/@me/' + channelService.getDM(friend.id)?.id"
            matTooltip="Message"
            class="px-0"
            mat-button>
            <i class="lni lni-bubble"></i>
          </button>
          <button
            matTooltip="Remove Friend"
            (click)="remove(friend.id)"
            class="px-0 ml-2" mat-button>
            <i class="text-danger lni lni-close"></i>
        </button>
        </div>
        <member-username
          [routerLink]="'/channels/@me/' + channelService.getDM(friend.id)?.id"
          [user]="users.getCached(friend.id)"></member-username>
      </div>
      <div
        *ngIf="users.friends.length <= 0"
        class="text-muted">
        <i class="fas fa-info-circle mr-2"></i>
        <span>No friends online.</span>
      </div>  
    </div>
    
    <div *ngSwitchCase="'ALL'">
      <div class="category pl-0 mb-2">All—{{ users.friends.length }}</div>

      <div *ngFor="let friend of users.friends">
        <div class="float-right">
          <button
            [routerLink]="'/channels/@me/' + channelService.getDM(friend.id)?.id"
            matTooltip="Message"
            class="px-0"
            mat-button>
            <i class="lni lni-bubble"></i>
          </button>
          <button
            matTooltip="Remove Friend"
            (click)="remove(friend.id)"
            class="px-0 ml-2"
            mat-button>
            <i class="text-danger lni lni-close"></i>
          </button>
        </div>
        <member-username [user]="users.getCached(friend.id)"></member-username>
      </div>

      <div
        *ngIf="users.friends.length <= 0"
        class="text-muted">
        <i class="fas fa-info-circle mr-2"></i>
        <span>No friends here yet.</span>
      </div>  
    </div>
     
    <div *ngSwitchCase="'PENDING'">
      <div class="category pl-0 mb-2">Pending—{{ users.friendRequests.length }}</div>

      <div *ngFor="let friend of users.friendRequests">
        <div class="float-right">
          <button
            *ngIf="!isOutgoing(friend)"
            (click)="add(friend.username)"
            class="px-0" mat-button>
            <i class="text-success lni lni-checkmark-circle" aria-hidden="true"></i>
          </button>

          <button
            (click)="remove(friend.id)"
            class="px-0 ml-2" mat-button>
            <i class="text-danger lni lni-close"></i>
          </button>
        </div>
        
        <span class="badge badge-secondary">{{ isOutgoing(friend) ? 'OUTGOING' : 'INCOMING' }}</span>
        <member-username
          [user]="friend"
          [statusOverride]="isOutgoing(friend)
            ? 'Outgoing Friend Request'
            : 'Incoming Friend Request'"></member-username>
      </div>
        
      <div
        *ngIf="users.friendRequests.length <= 0"
        class="text-muted">
        <i class="fas fa-info-circle mr-2"></i>
        <span>No friend requests sent.</span>
      </div>
    </div>
       
    <div *ngSwitchCase="'BLOCKED'">
      <div class="category pl-0 mb-2">Blocked—{{ blockedUsers.length }}</div>

      <div *ngFor="let user of blockedUsers">
        <div class="float-right">
          <i (click)="users.unblock(user.id)"
            matTooltip="Unblock"
            class="cursor-pointer lni lni-close"></i>
        </div>
        <member-username [user]="user"></member-username>
      </div>

      <div
        *ngIf="blockedUsers.length <= 0"
        class="text-muted">
        <i class="fas fa-info-circle mr-2"></i>
        <span>No blocked users.</span>
      </div>      
    </div>
  </div>
</div>