<app-settings-sidebar
  *ngIf="user"
  tabType="user">
  <div class="content">
    <h5 class="uppercase mb-4">User Overview</h5>
    <div class="row">
      <div class="col-6">
        <div
          routerLinkActive="active"
          class="user-icon round">
          <app-avatar-url
            class="pl-2 pb-3"
            [user]="avatarUser"
            size="128px"></app-avatar-url>
        </div>
      </div>

      <div class="col-6">
        <form
          *ngIf="form"
          #f="ngForm"
          [formGroup]="form">
          <mat-form-field appearance="outline">
            <mat-label>Avatar URL</mat-label>
            <input formControlName="avatarURL" type="url" matInput>
          </mat-form-field>

          <mat-form-field
            class="ml-2"
            appearance="outline">
            <mat-label>Username</mat-label>
            <input formControlName="username" type="text" matInput>
            <mat-hint *ngIf="form.get('username').pending"><i class="fas fa-circle-notch fa-spin"></i> Checking</mat-hint>
            <mat-error *ngIf="form.get('username').errors?.required">Username is required.</mat-error>
            <mat-error *ngIf="form.get('username').errors?.minlength">Username should be minimum {{ form.get('username').errors?.minlength.requiredLength }} characters.</mat-error>
            <mat-error *ngIf="form.get('username').errors?.shouldBeUnique">Username is already taken.</mat-error>
            <mat-error *ngIf="form.get('username').errors?.pattern">Username should follow the <a routerLink="/docs/usernames">username rules</a>.</mat-error>
          </mat-form-field>
        </form>
      </div>

      <div class="avatars card p-3 mt-2 rounded">
        <h5>Choose an Avatar</h5>
        <div class="row">
          <div class="col-3">
            <img (click)="setAvatar('avatar_aqua')"
              [src]="environment.endpoint + '/avatars/avatar_aqua.png'" alt="">
          </div>
          <div class="col-3">
            <img (click)="setAvatar('avatar_coffee')"
              [src]="environment.endpoint + '/avatars/avatar_coffee.png'" alt="">
          </div>
          <div class="col-3">
            <img (click)="setAvatar('avatar_fire')"
              [src]="environment.endpoint + '/avatars/avatar_fire.png'" alt="">
          </div>
          <div class="col-3">
            <img (click)="setAvatar('avatar_gold')"
              [src]="environment.endpoint + '/avatars/avatar_gold.png'" alt="">
          </div>

          <div class="col-3">
            <img (click)="setAvatar('avatar_grey')"
              [src]="environment.endpoint + '/avatars/avatar_grey.png'" alt="">
          </div>
          <div class="col-3">
            <img (click)="setAvatar('avatar_rainbow')"
              [src]="environment.endpoint + '/avatars/avatar_rainbow.png'" alt="">
          </div>
          <div class="col-3">
            <img (click)="setAvatar('avatar_sky')"
              [src]="environment.endpoint + '/avatars/avatar_sky.png'" alt="">
          </div>
          <div class="col-3">
            <img (click)="setAvatar('avatar_tree')"
              [src]="environment.endpoint + '/avatars/avatar_tree.png'" alt="">
          </div>
        </div>
      </div>
    </div>

    <hr class="my-4">
    
    <mat-form-field appearance="outline" class="ml-3 m-2">
      <mat-label>Theme</mat-label>
      <mat-select
        [value]="currentTheme"
        (selectionChange)="themes.changeTheme(themeSelect.value)"
        #themeSelect>
          <mat-option value="CHOCOLATE">Chocolate</mat-option>
          <mat-option value="CLONE">Clone</mat-option>
          <mat-option value="COSMIC">Cosmic</mat-option>
          <mat-option value="DISCORD">Discord</mat-option>
          <mat-option value="HORIZON">Horizon (Default)</mat-option>
          <mat-option value="IONIC" selected>Ionic</mat-option>
          <mat-option value="PAIN">Pain</mat-option>
          <mat-option value="TWILIGHT">Twilight</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <label for="sfxEnabled">Enable Sound Effects</label>
      <mat-checkbox
        id="sfxEnabled"
        (input)="toggleSounds(sfxEnabledInput.checked)"
        [checked]="sfxEnabled"
        class="ml-2"
        #sfxEnabledInput></mat-checkbox>
    </div>
  </div>
</app-settings-sidebar>