<div class="col-lg-6 col-md-12">
  <form
    *ngIf="form"
    #f="ngForm"
    (submit)="changeEmail()"
    [formGroup]="form">
    <h6>Change Email</h6>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" matInput>
      <mat-hint *ngIf="form.get('email').pending"><i class="lni lni-circle-notch fa-spin"></i> Checking</mat-hint>
      <mat-error *ngIf="form.get('email').errors?.emailInUse">Email is already in use.</mat-error>
      <mat-error *ngIf="form.get('email').errors?.pattern">Email must be valid.</mat-error>
    </mat-form-field>

    <button
      [disabled]="processingEmail"
      matTooltip="Send"
      class="ml-2 bg-success"
      mat-button><i class="lni lni-envelope text-dark"></i></button>
  </form>

  <div class="d-flex mb-3">
    <div
      *ngIf="userService.self.verified"
      class="border border-success rounded p-3">
      <i class="lni lni-checkmark-circle text-success"></i>
      <span> Your email is verified.</span>
    </div>
    <div
      *ngIf="!userService.self.verified"
      class="border border-warning rounded p-3">
      <i class="lni lni-close text-danger"></i>
      <span> Your email is not verified.</span>
    </div>
  </div>
</div>

<div class="col-lg-6 col-md-12">
  <hr class="d-md-none d-block">

  <form
    #f="ngForm"
    (submit)="changePassword()"
    [formGroup]="passwordForm">
    <h6>Change Password</h6>
    <mat-form-field
      class="mr-2"
      appearance="outline">
      <mat-label>Old Password</mat-label>
      <mat-error *ngIf="passwordForm.get('oldPassword').errors?.required">Old password is required.</mat-error>
      <input formControlName="oldPassword" type="password" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input formControlName="newPassword" type="password" matInput>
      <mat-error *ngIf="passwordForm.get('newPassword').errors?.required">New password is required.</mat-error>
      <mat-error *ngIf="passwordForm.get('newPassword').errors?.pattern">New password must be valid.</mat-error>
    </mat-form-field>
    
    <button
      [disabled]="processingPassword"
      class="bg-warning float-md-right mt-3 mr-3"
      mat-button>Change</button>

    <mat-error
      *ngIf="passwordForm.get('newPassword').dirty
        && passwordForm.errors?.passwordMatch"
      class="mb-2">New password should not equal old password.</mat-error>
  </form>

  <div class="col-lg-3 col-md-4 col-md-12">
    <button
      (click)="deleteSelf()"
      class="bg-danger text-light"
      mat-button>Delete User</button>
  </div>  
</div>