<div class="col-xl-6 col-md-12">
  <div
    routerLinkActive="active"
    class="user-icon d-sm-block d-flex justify-content-center">
    <app-avatar-url
      class="pl-md-5 pb-3 ml-md-5 mt-md-3"
      [user]="avatarUser"
      size="128px"></app-avatar-url>
  </div>
</div>

<div class="col-lg-6 col-md-12">
  <form
    *ngIf="form"
    #f="ngForm"
    [formGroup]="form"
    class="text-center">
    <mat-form-field appearance="outline" class="mr-xl-2">
      <mat-label>Avatar URL</mat-label>
      <input formControlName="avatarURL" type="url" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input formControlName="username" type="text" matInput>
      <mat-hint *ngIf="form.get('username').pending"><i class="lni lni-circle-notch fa-spin"></i> Checking</mat-hint>
      <mat-error *ngIf="form.get('username').errors?.required">Username is required.</mat-error>
      <mat-error *ngIf="form.get('username').errors?.minlength">Username should be minimum {{ form.get('username').errors?.minlength.requiredLength }} characters.</mat-error>
      <mat-error *ngIf="form.get('username').errors?.shouldBeUnique">Username is already taken.</mat-error>
      <mat-error *ngIf="form.get('username').errors?.pattern">Username should follow the <a routerLink="/docs/usernames">username rules</a>.</mat-error>
    </mat-form-field>
  </form>
</div>

<div class="col-lg-6 col-md-12">
  <div class="avatars rounded p-3">
    <div class="row">
      <div class="col-12">
        <h5 class="pl-2">Choose an Avatar</h5>
      </div>
      <div
        *ngFor="let name of avatarNames"
        class="col-xl-3 col-4">
        <img (click)="setAvatar(name)"
          [src]="environment.endpoint + '/avatars/' + name + '.png'" [alt]="name">
      </div>
    </div>
  </div>
</div>    