.text {
    text-align: left;
    padding-bottom: 15px;
}
button, .text {
    color: var(--heading);    
}
#save {
    margin-left: 5px;
    background-color: var(--success);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .text {
        text-align: center;
    }
}