<div
  *ngIf="user"
  (click)="openPopover()"
  (contextmenu)="openCtxMenu($event)"
  class="member-username"
  data-placement="left"
  [title]="user.username"
  [attr.data-toggle]="member ? 'popover' : ''"
  [attr.data-content]="popoverHTML"
  [class]="guild ? 'user-' + user._id + ' ' + user.status?.toLowerCase() : ''">
  <img
    *ngIf="withAvatar"
    [src]="user.avatarURL"
    [alt]="user.username + ' Avatar'"
    class="round">
  <span
    class="status round"
    [class]="user.status?.toLowerCase()"></span>
  <div
    [style.color]="member ? roleColor : 'inherit'"
    class="username ml-4 pt-0">{{ user.username }}
    <span
      *ngIf="user.bot"
      class="badge badge-secondary">BOT</span>
    <span
      *ngIf="user._id === guild?.owner._id"
      matTooltip="Guild Owner"
      class="crown pl-1"><i class="fas fa-crown"></i></span>
    <div
      *ngIf="!voice"
      class="ml-1 status-override">
      <!-- <span
        *ngIf="user.badges?.includes('VIEWER')"
        matTooltip="youtube.com/adamjr Viewer"
        class="text-primary"><i class="fab fa-youtube px-1"></i></span>
      <span
        *ngIf="user.badges?.includes('DEVELOPER')"
        matTooltip="Developer"
        class="text-info"><i class="fas fa-code px-1"></i></span> -->
      </div>
  </div>
  <span
    *ngIf="voice"
    class="float-right text-muted p-1">
    <i
      *ngIf="user.voice.selfMuted"
      matTooltip="Muted"
      class="fas fa-microphone-slash"></i>
  </span>
</div>