div {
  border-radius: 5px;

  width: 100%;
  padding: 5px;
}
div:hover {
  background-color: var(--background-primary);
}

img {
  width: 32px;
  height: 32px;
  margin-right: 10px;

  float: left;
}

.username {
  max-width: 224px;
}
.username-text {
  font-size: 20px;
  text-overflow: ellipsis;  

  width: 70% !important;  
}
.status-override {
  font-size: smaller;
  margin-top: -5px;
}
i.fa-crown {
  color: gold;
  font-size: small;
}

.offline {
  opacity: 0.5;
}
.offline:hover {
  opacity: 1;
}

.status {
  z-index: 1;
  
  width: 10px;
  height: 10px;
}
.status.online {
  color: green;
  border-color: green;
}
.status.idle {
  color: orange;
  border-color: orange;
}
.status.dnd {
  color: red;
  border-color: red;
}