<div
  *ngIf="user"
  [matMenuTriggerFor]="contextMenu"
  #menuTrigger="matMenuTrigger"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}"
  (contextmenu)="openMenu($event, menuTrigger)"
  class="member-username"
  [title]="user.username"
  [class]="(guild) ? 'user-' + user._id + ' ' + user.status?.toLowerCase() : ''">
  <div
    (click)="$event.stopPropagation()"
    [routerLink]="routerLink || './'">
    <app-avatar-url
      *ngIf="withAvatar"
      (click)="profileDialog()"
      [user]="user"></app-avatar-url>
    <span
      class="status round"
      [class]="user.status?.toLowerCase()"></span>
    <div
      [style.color]="member ? roleColor : 'var(--light)'"
      class="username">
      <span class="float-right text-muted">
        <i *ngIf="pings.isUnread(dmChannelId)"
          matTooltip="Unread Pings"
          class="fas fa-circle text-danger"></i>
      </span>
  
      <span class="username-text">{{ user.username }}</span>
      <span
        *ngIf="user.bot"
        textContent="user.username === 'Accord' ? 'SYSTEM' : 'BOT'"
        class="ml-1 badge badge-secondary"></span>
      <span
        *ngIf="user._id === guild?.ownerId"
        matTooltip="Guild Owner"
        class="crown pl-1">
        <i class="fas fa-crown"></i>
      </span>
    </div>
  </div>
</div>

<mat-menu
  (closed)="update()"
  #contextMenu>
  <div *ngIf="guild">
    <div
      *ngIf="perms.can(guild._id, 'MANAGE_ROLES')"  
      (click)="$event.stopPropagation()"
      appearance="outline"
      mat-menu-item>
      <mat-label>Roles</mat-label>
      <mat-select multiple>
        <mat-option
          *ngFor="let role of guildRoles"
          [style.color]="role.color"
          [attr.selected]="member.roleIds.includes(role._id)">{{ role.name }}</mat-option>
      </mat-select>
    </div>  
  </div>

  <hr>

  <button
    (click)="profileDialog()"
    mat-menu-item>
    <i class="fas fa-user text-muted mr-1"></i>
    <span>View Profile</span>
  </button>
  <button
    *ngIf="isBlocked"  
    (click)="usersService.unblock(user._id)"
    mat-menu-item>
    <i class="fas fa-ban text-muted mr-1"></i>
    <span>Unblock</span>
  </button>
  <button
    *ngIf="!isBlocked"  
    (click)="usersService.block(user._id)"
    mat-menu-item>
    <i class="fas fa-ban text-danger mr-1"></i>
    <span>Block</span>
  </button>
  <hr>
  <div (click)="$event.stopPropagation()" class="p-2">
    <strong>ID: </strong>
    <code>{{ user._id }}</code>
  </div>
</mat-menu>
