<div
  *ngIf="user"
  [matMenuTriggerFor]="contextMenu"
  #menuTrigger="matMenuTrigger"
  (contextmenu)="openMenu($event, menuTrigger)"
  class="member-username"
  [title]="user.username"
  [class]="(guild) ? 'user-' + user._id + ' ' + user.status?.toLowerCase() : ''">
  <div
    [routerLink]="routerLink || './'"
    class="username-wrapper"
    (click)="$event.stopPropagation()">
    <app-avatar-url
      *ngIf="withAvatar"
      [user]="user"></app-avatar-url>
    <span
      class="status round"
      [class]="user.status?.toLowerCase()"></span>
    <div
      [style.color]="member ? roleColor : 'var(--light)'"
      class="username">
      <span class="float-right text-muted">
        <i *ngIf="pings.isUnread(dmChannelId)"
          matTooltip="Unread Pings"
          class="lni lni-circle text-danger"></i>
      </span>
  
      <span class="username-text">{{ user.username }}</span>
      <span
        *ngIf="user.bot"
        textContent="user.username === 'Accord' ? 'SYSTEM' : 'BOT'"
        class="ml-1 badge badge-secondary"></span>
      <span
        *ngIf="user._id === guild?.ownerId"
        matTooltip="Guild Owner"
        class="crown pl-1">
        <i class="lni lni-crown"></i>
      </span>
    </div>
  </div>
</div>

<mat-menu
  (closed)="guild
    && perms.canManage(guild._id, user._id, 'MANAGE_ROLES')
    && update()"
  #contextMenu>
  <h6 class="p-2 text-center">{{ user.username }}</h6>

  <button
    (click)="dialog.profile({ user: user })"
    mat-menu-item>
    <i class="lni lni-user text-muted mr-1"></i>
    <span>View Profile</span>
  </button>

  <button
    *ngIf="isBlocked && user._id !== userService.self._id"  
    (click)="userService.unblock(user._id)"
    mat-menu-item>
    <i class="lni lni-ban text-muted mr-1"></i>
    <span>Unblock</span>
  </button>
  <button
    *ngIf="!isBlocked && user._id !== userService.self._id"  
    (click)="userService.block(user._id)"
    mat-menu-item>
    <i class="lni lni-ban text-danger mr-1"></i>
    <span>Block</span>
  </button>
  
  <hr class="my-2">
  
  <div *ngIf="guild">
    <mat-form-field
      *ngIf="perms.canManage(guild._id, user._id, 'MANAGE_ROLES')"  
      (click)="$event.stopPropagation()"
      appearance="outline">
      <mat-label>Roles</mat-label>
      <mat-select
        [value]="member.roleIds"
        multiple
        #rolesInput>
        <mat-option
          *ngFor="let role of guildRoles"
          [value]="role._id"
          [style.color]="role.color"
          [disabled]="!perms.isHigher(guild._id, [role])"
          [attr.selected]="member.roleIds.includes(role._id)">{{ role.name }}</mat-option>
      </mat-select> 
    </mat-form-field>

  </div>
  <div *ngIf="guild">
    <button
      *ngIf="perms.canPunish(guild._id, user._id, 'KICK_MEMBERS')"
      (click)="guildService.kick(guild._id, user._id)"
      mat-menu-item>
      <i class="lni lni-close text-danger mr-1"></i>
      <span>Kick</span>
    </button>
  </div>
  
  <hr class="my-2">

  <div (click)="$event.stopPropagation()" class="p-2">
    <strong>ID: </strong>
    <code>{{ user._id }}</code>
  </div>
</mat-menu>
