/* newstarsgame.com */
/* Icon: Star satellites icon - by Lorc under CC-BY-3.0 - https://game-icons.net */
:root {
  --primary: yellow;
  --secondary: yellow;
  --tertiary: #30C0B8;

  --heading: white;
  --font: #c9c9c9;
  --muted: #6c757d;

  --success: #09f7a0;
  --danger: #f43e5c;
  --warning: #f77d26;

  --normal: #dcddde;
  --link: hsl(197, calc(var(--saturation-factor, 1) * 100%), 47.8%);
  --channel: #8e9297;

  --saturation-factor: 1;

  --bg-primary: transparent;
  --bg-secondary: transparent;
  --bg-secondary-alt: transparent;
  --bg-tertiary: transparent;
  --bg-textarea: #40444b;
  --bg-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --bg-modifier-selected: rgba(79, 84, 92, 0.32);
  --bg-floating: #18191c;

  --elevation: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);

  --font-primary: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --light: #fdf0ed;
  --dark: #16161c;
}

html,
body {
  background-image: url("https://newstarsgame.com/public/Purple/Layer%203/Space%20Background%201.png") !important;
}

.member-list {
  background-image: url("https://newstarsgame.com/public/Purple/Layer%201/Space%20Background%201.png");
}

.sidebar-tabs {
  background-image: url("https://newstarsgame.com/public/Purple/Layer%201/Space%20Background%2010.png");
}

div.ReactModal__Content:not(.w-full),
.sidebar-icons *,
.context-menu,
.input,
input,
textarea,
label+* {
  --warning: #f77d26;
  --normal: #dcddde;
  --link: hsl(197, calc(var(--saturation-factor, 1) * 100%), 47.8%);
  --channel: #8e9297;
  --saturation-factor: 1;
  --bg-primary: #110E28;
  --bg-secondary: #110E28;
  --bg-secondary-alt: #110E28;
  --bg-tertiary: #050219;
  --bg-textarea: #40444b;
  --bg-floating: #050219;
}

.ReactModal__Overlay:hover {
  animation: fade-in .2s ease-in-out;
}

div.ReactModal__Overlay {
  background-image: url("https://newstarsgame.com/public/Purple/Layer%202/Space%20Background%2010.png") !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}