<div class="modal fade" id="createInviteModal" tabindex="-1" aria-labelledby="createInviteLabel" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createInviteLabel">Invite Friends to {{ guild.name }}</h5>
        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label class="ml-5 pl-3">Invite Link</mat-label>
            <input type="text"
              [value]="invite?._id" matInput>
          </mat-form-field>
          <div class="ml-3">
            <button (click)="copyToClipboard()"
              matTooltip="Copy"
              class="btn btn-primary mt-2">
              <i class="fas fa-clipboard"></i>
            </button>
          </div>
        </div>
      </div>
  </div>
</div>