<h1 mat-dialog-title>Add Friend</h1>
<p class="text-muted">Add a friend by their username.</p>

<form
  #f="ngForm"
  [formGroup]="addFriendForm"
  class="d-flex justify-content-center">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input formControlName="username" type="text" matInput>
  </mat-form-field>
</form>

<div class="d-flex justify-content-center" mat-dialog-actions>
  <button
    (click)="sendFriendRequest()"
    class="bg-success send-friend-request text-dark"
    mat-button
    matSuffix>Send Request</button>
</div>