/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  body {
    overflow-y: hidden;
  }

  #features img {
    width: 300px;
    height: auto !important;
  }

  .mat-sidenav-container {
    overflow-x: scroll !important;
  }
  ::-webkit-scrollbar {
    display: none !important;
  }

  .scroll-container {
    scroll-snap-type: x mandatory;	
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .scroll-container .scroll-section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    overflow-x: hidden;
  }
  .main,
  .main-content,
  .member-list,
  .side {
    width: 100vw !important;
  }

  .scroll-section:nth-of-type(1) {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  /* arc.io */
  #arc-page-shadow {
    display: none;
  }
  #arc-widget-container #arc-widget.intrinsic-ignore[id="arc-widget"] {
    top: 91.5% !important;
    position: absolute !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  mat-sidenav .options {
    width: 105%;
  }
  .mat-snack-bar-handset .mat-snack-bar-container {
    margin: 15px;
    max-width: 100%;
    width: 95vw !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  app-submarine {
    display: none;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {

}