/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  body {
    overflow-y: hidden;
  }

  #features img {
    width: 300px;
    height: auto !important;
  }

  .scroll-container {
    scroll-snap-type: x mandatory;	
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    width: 200%;
  }
  .scroll-container .scroll-section {
    min-width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    overflow-x: hidden;
  }
  .main,
  .member-list,
  .side {
    width: 100vw !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  mat-sidenav .options {
    width: 105%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  app-submarine {
    display: none;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {

}