/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  body {
    overflow-y: hidden;
  }

  #features img {
    width: 300px;
    height: auto !important;
  }

  .scroll-container {
    scroll-snap-type: x mandatory;	
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    width: 200%;
  }
  .scroll-container .scroll-section {
    min-width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    overflow-x: hidden;
  }
  .main,
  .main-content,
  .member-list,
  .side {
    width: 100vw !important;
  }

  .side {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .member-list {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;    
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  mat-sidenav .options {
    width: 105%;
  }
  .mat-snack-bar-handset .mat-snack-bar-container {
    margin: 15px;
    max-width: 100%;
    width: 95vw !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  app-submarine {
    display: none;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {

}