/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~highlight.js/styles/arta.css';
@import '~chart.js/dist/Chart.min.css';

body, mat-sidenav-content {
    color: var(--font);
    
    overflow-x: hidden !important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

footer p {
    margin: 0 !important;
}

table {
    width: 100%;
}

.side-nav img {
    background-color: var(--background-tertiary);

    max-width: 96px;
    border-radius: 50%;

    padding-bottom: 5px;
}

.side-nav .header {
    width: inherit;

    text-align: center;

    padding-top: 25px;
}

table.dataTable tbody tr {
    background-color: inherit;
}

.jumbotron {
    background-color: transparent;
}

/* scrollbar */
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: var(--background-primary);
}
::-webkit-scrollbar
{
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        color-stop(0.72, var(--primary)),
        color-stop(0.86, var(--secondary)));
}

a {
    transition: all .25s;
}

[premium] ~ span > label {
    color: var(--plus) !important;
}
[premium] ~ span > label::before {
    content: "+ ";
}

h3 {
    color: var(--primary);
    text-transform: uppercase;
}

.desc {
    color: var(--secondary); 
}

.mat-snack-bar-container {
    background-color: rgba(0,0,0,0.8) !important;
    color: var(--font);
    width: 75vw;
}

customize-xp-card .mat-form-field-infix {
    width: inherit !important;
}

/* overrides */
code {
    color: var(--secondary) !important;
}

/* tables */

thead {
    background-color: var(--background-tertiary) !important;
}
table tbody tr {
    background-color: var(--background-primary) !important;
}
table tbody tr:nth-child(even) {
    background-color: var(--background-secondary) !important;
}
.table td, .table th {    
    border: none !important;
}

mat-paginator {
    background-color: transparent !important;
}

.mat-standard-chip .mat-chip-remove.mat-icon {
    font-size: 15px;
}

:focus {
    outline: none !important;
}

/* docs */

#doc img {
    max-height: 50vh;
    max-width: 90vw;
}

#doc table th, #doc table td {
    padding: 10px;
}

#doc table {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* sidebar */

.mat-drawer-side, .mat-drawer-container {
    background-color: transparent !important;
    border: none !important;
}

mat-sidenav a {
    margin: 2px 10px;
    padding: 5px;
    padding-left: 10px !important;

    border-radius: 5px;
}
mat-sidenav a.active {
    background-color: var(--background-primary) !important;
}
mat-sidenav a:hover {
    color: var(--heading);
    background-color: var(--background-primary) !important;
}

.category {
    padding: 24px 0 4px 20px;

    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;

    color: var(--muted);
}
.category:hover {
    color: var(--heading);
    
    cursor: pointer;
}

/* inputs */
.mat-option {
    height: inherit !important;
}