// https://stackoverflow.com/questions/41440998/how-can-i-use-custom-theme-palettes-in-angular
// to generate palettes

@import "~@angular/material/theming";

@include mat-core();

body {    
    background: black;
    background: radial-gradient(circle, var(--background-primary) 0%, var(--background-secondary) 100%) !important;
}
:root[theme=DISCORD] body { 
    background-color: var(--background-primary) !important;
}

:root, :root[theme=IONIC] {
    --heading: #FFFFFF;
    --font: #F4F2F3;
    --plus: green;

    --danger: darkred;
    --muted: grey;
    --interactive-muted: #4f545c;

    --primary: #46828D;
    --secondary: #276C8A;
    --tertiary: #36E2CA;

    --background-primary: #15244B;
    --background-secondary: #0a193a;
    --background-tertiary: #081536;
}
:root[theme=CHOCOLATE] {
    --heading: #FFFFFF;
    --font: #FFFFFF;

    --primary: #482F5D;
    --secondary: #45377C;
    --tertiary: #351F20;

    --background-primary: #372224;
    --background-secondary: #2c1518;
    --background-tertiary: #251113;
}
:root[theme=COSMIC] {
    --heading: #ffffff;
    --font: #ACB9D5;

    --primary: #6E80AD;
    --secondary: #8199BB;
    --tertiary: #465689;
    
    --background-primary: #0F1A31;
    --background-secondary: #070d1a;
    --background-tertiary: #060b18;
}
:root[theme=DISCORD] {
    --font: #99AAB5;
    
    --background-primary: #36393F;
    --background-secondary: #2F3136;
    --background-tertiary: #202225;
}
:root[theme=TWILIGHT] {
    --font: #E3E7EA;

    --primary: #757A89;
    --secondary: #78839B;
    --tertiary: #838B84;

    --background-primary: #171F2C;
    --background-secondary: #111720;
    --background-tertiary: #10151d;
}

$primary-palette: (
    50 : #e9f0f1,
    100 : #c7d9dd,
    200 : #a2c0c6,
    300 : #7da7af,
    400 : #61949d,
    500 : #45818c,
    600 : #3e7984,
    700 : #366e79,
    800 : #2e646f,
    900 : #1f515c,
    A100 : #9cecff,
    A200 : #69e3ff,
    A400 : #36d9ff,
    A700 : #1dd4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$secondary-palette: (
    50 : #e5edf1,
    100 : #bed3dc,
    200 : #93b6c5,
    300 : #6898ad,
    400 : #47829c,
    500 : #276c8a,
    600 : #236482,
    700 : #1d5977,
    800 : #174f6d,
    900 : #0e3d5a,
    A100 : #90d0ff,
    A200 : #5dbbff,
    A400 : #2aa5ff,
    A700 : #109bff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$primary: mat-palette($primary-palette);
$secondary: mat-palette($secondary-palette);
$warn: mat-palette($mat-yellow);

$theme: mat-dark-theme($primary, $secondary, $warn);

@include angular-material-theme($theme);

// utils

.color-heading {
    color: var(--heading) !important;
}

.color-primary {
    color: var(--primary) !important;
}

.interactive-muted {
    color: var(--interactive-muted) !important;    
}

// global

h1,h2,h3,h4,h5 {
    color: var(--heading) !important;
}

// other

.mat-success {
    background-color: green;
    color: #fff;
}
.mat-select-panel, .mat-chip.mat-standard-chip {
    background-color: var(--background-secondary);
}

// TODO: move to overrides.css, and import
// overrides

.color-picker {
    background: var(--background-tertiary) !important;
    border: none !important;
}

.color-picker input {
    background: var(--background-secondary) !important;
    color: var(--font) !important;
    border: none !important;
}

// colours:
// 4A3050 (bg-primary), 4D426C, 4C429C (primary), 493A77, 372224