// https://stackoverflow.com/questions/41440998/how-can-i-use-custom-theme-palettes-in-angular
// to generate palettes

@import "~@angular/material/theming";

@include mat-core();

$primary-palette: (
    50 : #e9f0f1,
    100 : #c7d9dd,
    200 : #a2c0c6,
    300 : #7da7af,
    400 : #61949d,
    500 : #45818c,
    600 : #3e7984,
    700 : #366e79,
    800 : #2e646f,
    900 : #1f515c,
    A100 : #9cecff,
    A200 : #69e3ff,
    A400 : #36d9ff,
    A700 : #1dd4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$secondary-palette: (
    50 : #e5edf1,
    100 : #bed3dc,
    200 : #93b6c5,
    300 : #6898ad,
    400 : #47829c,
    500 : #276c8a,
    600 : #236482,
    700 : #1d5977,
    800 : #174f6d,
    900 : #0e3d5a,
    A100 : #90d0ff,
    A200 : #5dbbff,
    A400 : #2aa5ff,
    A700 : #109bff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$primary: mat-palette($primary-palette);
$secondary: mat-palette($secondary-palette);
$warn: mat-palette($mat-yellow);

$theme: mat-dark-theme($primary, $secondary, $warn);

@include angular-material-theme($theme);