@use '~@angular/material' as mat;
// https://stackoverflow.com/questions/41440998/how-can-i-use-custom-theme-palettes-in-angular
// to generate palettes

@import '~@angular/material/theming';

@include mat.core();

body {  
  background-color: var(--background-primary) !important;
}

:root,
:root[theme=HORIZON] {
  --primary: #E95678;
  --secondary: #FAB795;
  --tertiary: #B877DB;
  
  --background-primary: #2E303E;
  --background-secondary: #232530;
  --background-tertiary: #1C1E26;

  --heading: #25B2BC;
  --font: #FDF0ED;
  --muted: #6c757d;

  --success: #09F7A0;
  --danger: #F43E5C;

  --warning: #F77D26;
  --light: #FDF0ED;
  --dark: #16161C;
}
:root[theme=TWILIGHT] {
  --font: #E3E7EA;

  --primary: #757A89;
  --secondary: #78839B;
  --tertiary: #838B84;

  --background-primary: #171F2C;
  --background-secondary: #111720;
  --background-tertiary: #10151d;
}

$primary-palette: (
  50 : #eef0f0,
  100 : #d4dad9,
  200 : #b7c2c0,
  300 : #9aa9a7,
  400 : #849694,
  500 : #6e8481,
  600 : #667c79,
  700 : #5b716e,
  800 : #516764,
  900 : #3f5451,
  A100 : #affef3,
  A200 : #7dfeeb,
  A400 : #48ffe5,
  A700 : #2fffe1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$secondary-palette: (
  50 : #f4f6f5,
  100 : #e3e9e6,
  200 : #d1dbd6,
  300 : #beccc6,
  400 : #b0c1b9,
  500 : #a2b6ad,
  600 : #9aafa6,
  700 : #90a69c,
  800 : #869e93,
  900 : #758e83,
  A100 : #ffffff,
  A200 : #dffef0,
  A400 : #abffda,
  A700 : #91ffce,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$primary: mat.define-palette($primary-palette);
$secondary: mat.define-palette($secondary-palette);
$warn: mat.define-palette(mat.$yellow-palette);

$theme: mat.define-dark-theme($primary, $secondary, $warn);

@include mat.all-component-themes($theme);

// utils

.color-heading {
  color: var(--heading) !important;
}

.color-primary {
  color: var(--primary) !important;
}

.interactive-muted {
  color: var(--interactive-muted) !important;  
}

.text-muted {
  color: var(--muted) !important;
}
.text-warning {
  color: var(--warning) !important;
}
.text-danger {
  color: var(--danger) !important;
}
.text-primary {
  color: var(--primary) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.text-tertiary {
  color: var(--tertiary) !important;
}
.bg-primary,
.bg-primary:hover {
  background-color: var(--primary) !important;
}
.bg-secondary,
.bg-secondary:hover {
  color: var(--dark);
  background-color: var(--secondary) !important;
}
.bg-tertiary,
.bg-tertiary:hover {
  background-color: var(--tertiary) !important;
}
.bg-success,
.bg-success:hover {
  background-color: var(--success) !important;
}
.bg-danger,
.bg-danger:hover {
  background-color: var(--danger) !important;
}

// utils override
a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
  background-color: var(--primary) !important;
}
a.bg-secondary:focus, a.bg-secondary:hover, button.bg-secondary:focus, button.bg-secondary:hover {
  background-color: var(--secondary) !important;
}

// global

h1,h2,h3,h4,h5 {
  color: var(--heading) !important;
}

a {
  color: var(--tertiary) !important;
}

// other

.mat-success {
  background-color: green;
  color: #fff;
}
.mat-select-panel, .mat-chip.mat-standard-chip {
  background-color: var(--background-secondary);
}

// TODO: move to overrides.css, and import
// overrides

.color-picker {
  background: var(--background-tertiary) !important;
  border: none !important;
}

.color-picker input {
  background: var(--background-secondary) !important;
  color: var(--font) !important;
  border: none !important;
}
