<div
  class="side side-nav navbar-dark">
  <div class="navbar-nav float-right">
    <h2 class="category text-secondary">{{ tabCategory }}</h2>

    <a *ngFor="let tab of tabs[tabType]"
      [routerLink]="canAccess(tab) ? tab.href() : './'"
      [class.disabled]="!canAccess(tab)"
      routerLinkActive="active"
      class="nav-item nav-link">
      <i class="mr-1" [class]="tab.icon"></i>
      <span>{{ tab.name }}</span>
    </a>
  </div>
</div>

<div class="main">
  <div class="close-container">
    <div
      (click)="close()"
      class="close round btn float-right"
      mat-button><i class="fas fa-times"></i></div>
    <span class="text-muted d-block px-2">ESC</span>
  </div>

  <div class="main-content">
    <ng-content select=".content"></ng-content></div>
</div>