<navbar></navbar>
<header class="container">
    <div class="jumbotron">
        <img src="assets/img/2PGAvatarTransparent.png" alt="2PG Discord Bot" class="float robot">
        <p class="lead">Simple, powerful Discord bot</p>
        <hr class="my-2">
        <p>Announce, General, Music, XP, and more!</p>
        <p class="lead">
            <a class="btn btn-primary" routerLink="/invite">Add</a>
        </p>
    </div>
</header>
<footer>
    <p routerLink="/docs/changelog"
        class="float-right">Bot + Dashboard v0.0.2b</p>
</footer>