<navbar></navbar>
<header class="container">
    <div class="jumbotron">
        <img src="assets/img/2pg-avatar-transparent.svg" alt="2PG Discord Bot" class="float robot">
        <p class="lead">Simple, powerful Discord bot</p>
        <p>Auto-mod, Logs, Music, XP, and more!</p>
        <p class="lead">
            <a class="btn btn-primary" routerLink="/invite">Add</a>
        </p>
    </div>
</header>

<waves></waves>
<footer>
    <p routerLink="/docs/changelog"
        class="float-right bg-tertiary">{{ version }}</p>
</footer>