<div class="row">
  <div
    *ngFor="let theme of userService.self.themes"
    class="col-lg-2 col-3">
    <div
      (click)="themes.changeTheme(theme.id)"
      [class.border.border-success]="theme.name === config.get('theme')"
      class="rounded bg-secondary cursor-pointer text-center py-4 px-1">{{ theme.name | slice:0:3 }}</div>
  </div>    
  <div
    *ngFor="let name of defaultThemes"
    class="col-lg-2 col-3">
    <div
      (click)="themes.changeTheme(name)"
      [class.border.border-success]="name === config.get('theme')"
      class="rounded bg-tertiary cursor-pointer text-center py-4 px-1">{{ name | slice:0:3 }}</div>
  </div>
</div>

<div class="d-flex justify-content-center">   
  <mat-form-field appearance="outline">
    <mat-label>Theme URL</mat-label>
    <input type="url" matInput>
  </mat-form-field>

  <button class="bg-success text-dark m-2" mat-button>+</button>
</div>