<guild-sidebar>
  <app-guild-navbar
    [activeChannel]="activeChannel"
    [guild]="guild"
    (toggleMemberList)="memberList.expanded = !memberList.expanded"></app-guild-navbar>

  <div class="row">
    <div
      class="col-lg-7 col-md-5"
      [class]="memberList.expanded ? 'col-xl-9': 'col-xl-12'">
      <section
        *ngIf="!activeChannel"
        class="jumbotron">
        <p class="lead">
          <i class="fas fa-directions mr-1"></i>
          <span>Nothing here yet.</span>
        </p>
        <hr>
        <p>No channels here, just emptiness.</p>
      </section>

      <app-text-channel
        [channel]="activeChannel"
        [guild]="guild"
        #textChannel></app-text-channel>
    </div>  

    <div
      [hidden]="!memberList.expanded"
      class="col-xl-3 col-lg-5 col-md-7">
      <app-member-list
        [guild]="guild"
        #memberList></app-member-list>
    </div>
  </div>
</guild-sidebar>
