:root {
  --primary: #7289da;
  --secondary: #99aab5;
  --tertiary: #43b582;

  --heading: white;
  --font: #99aab5;
  --normal: #dcddde;

  --success: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);

  --bg-primary: #36393f;
  --bg-secondary: #2f3136;
  --bg-secondary-alt: #292b2f;
  --bg-tertiary: #202225;
  --bg-textarea: #40444b;

  --elevation: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--heading);
  font-family: Whitney, Helvetica, sans-serif;
}

body {
  color: var(--font);
  background-color: var(--bg-tertiary);
}

textarea {
  background-color: var(--bg-textarea) !important;
}

.success {
  color: var(--success) !important;
}
.normal {
  color: var(--normal) !important;
}
.heading {
  color: var(--heading) !important;
}
.primary {
  color: var(--primary) !important;
}
.secondary {
  color: var(--secondary) !important;
}
.tertiary {
  color: var(--tertiary) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
}
.bg-tertiary {
  background-color: var(--tertiary) !important;
}
.bg-bg-primary {
  background-color: var(--bg-primary) !important;
}
.bg-bg-secondary {
  background-color: var(--bg-secondary) !important;
}
.bg-bg-secondary-alt {
  background-color: var(--bg-secondary-alt) !important;
}
.bg-bg-tertiary {
  background-color: var(--bg-tertiary) !important;
}
