<guild-sidebar [waitFor]="savedGuild">
    <div *ngIf="form" class="container">
        <h1 class="display-3">Settings</h1>
        <hr>
        <form #f="ngForm" [formGroup]="form">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <label class="mr-2">Private Leaderboard</label>
                    <mat-checkbox formControlName="privateLeaderboard"></mat-checkbox>
                </div>
            </div>
        </form>
    </div>
</guild-sidebar>
