hr {
    margin-bottom: 25px;
}

img {
    max-width: 50vw;
}

.config {
    padding-top: 10px;
    width: 50vw;
}

button {
    background-color: transparent;
    color: var(--primary);
    
    border: none;
}

button i {
    font-size: 32px;
}

/* < small devices */
@media (max-width: 576px) {
    img {
        max-width: 83.5vw;
    }
}